
<div class="modal animated fadeIn" id="modalValidacionEscuelas" tabindex="-1" role="dialog" aria-labelledby="smallModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               
                <h4 class="modal-title" id="smallModalHead">Validación Escuelas de Música </h4>
                <p class="text-info"><i class="fa-question"></i> El municipio @ViewBag.NombreMunicipio no cuenta con una escuela municipal creada en el Sistema de Información de la Música- SIMUS.  Para continuar debe crear la escuela asociada al municipio </p>
            </div>

          
            <div class="modal-footer">
                <a href="~/Convocatoria/Detalle/@ViewBag.ConvocatoriaId" aria-hidden="true" class="btn btn-danger"> Cerrar</a>
               
            </div>
        </div>
    </div>

</div>

