@model WebSImus.Models.ConsultaModel
@{
    ViewBag.Title = "Consulta Convocatorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <ul class="breadcrumb">
        <li>@Html.ActionLink("Inicio", "Index", "Inicio")</li>
        <li>@Html.ActionLink("Convocatorias", "Consulta", "Convocatoria")</li>
    </ul>
    <div class="col-md-12">


        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.ActionLink(" Exportar", "ExportToDotacion", "Convocatoria", null, new { @class = "btn btn-warning glyphicon glyphicon-export" })
                    
                </div>
            </div>
        </div>
        <br />
     

        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <div id="Tabla">
                        @Html.Action("GridViewPartialDotacion")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





