<div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-sign-out"></span> <strong>¿Cerrar</strong> sesión?</div>
            <div class="mb-content">
                <p>Al cerrar su sesión perderá los cambios que no ha guardado</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <a href="/" class="btn btn-success btn-lg">Aceptar</a>
                    <button class="btn btn-default btn-lg mb-control-close">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
