@{
    ViewBag.Title = "Acerca de SIMUS";
    Layout = "~/Views/Shared/_LayoutPublico.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2 col-sm-5 col-xs-5"><img style="padding-top:10px; padding-left:30px;" class="img-responsive" src="~/img/iconos/noticias.png"></div>
        <div class="titulo_seccion col-md-10 col-sm-7 col-xs-7">Acerca de</div>

    </div>
</div>
<div class="row">
    <div class="subtitulo_seccion col-md-6 col-sm-12 col-xs-12 "><span class="fa-convocatorias fa-lg" style="text-align: left; padding: 5px;"></span>SIMUS</div>
</div>
<div class="col-md-12 well carousel-search" style="margin-top:40px;">
    <div class="row">
        <div class=" this-animate" data-animate="fadeInRight bounce">
            <div class="col-md-12">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row">
                            <div class=" col-md-4 col-sm-6 col-xs-12 imagen_ficha">
                                <img style="border-radius: 5px 0px 0px 0px;" class="img-responsive" src="~/img/acerca.jpg"  alt="acerca de" />
                            </div>

                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 titulo_ficha_item"> Sistema de Información de la Música </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-10 parrafo_ficha">
                                        <br><span style="font-style:italic; font-size: 13px;">“Lo único mejor que la música, es hablar de música“</span><br />

                                        <br>Gabriel García Márquez<br />
                                        <br><p style="text-align:justify">
                                            El Sistema de Información de la Música surge de la necesidad de <span style="font-weight: bold;">organizar y compilar la información de la comunidad musical existente, constituida por un amplio espectro de expresiones musicales presentes a lo largo de todo el territorio nacional,</span> lo que dificulta la promoción, motivación y fomento de conformación de redes donde participen todos los protagonistas del acontecer musical.

                                            Busca la optimización en los procesos gerenciales y artísticos de la actividad musical, en sus distintas manifestaciones, especialidades y actividades relacionadas, para lograr una contribución efectiva de la música en la construcción sociocultural del país.

                                            Articula servicios a la ciudadanía integrando las fuentes de información musical en una sola plataforma web concebida para convertirse en el sistema captador, organizador y contenedor de la información musical del país.
                                        </p><br />

                                    </div>

                                </div>
                            </div>


                        </div>



                        <!-- .row -->

                    </div>

                </div>
            </div>


        </div>

    </div>

</div>