
@{
    ViewBag.Title = "Contáctenos";
    Layout = "~/Views/Shared/_LayoutEstatico.cshtml";
}

<!-- page content -->
<div class="page-content">

    <!-- page content wrapper -->
    <div class="page-content-wrap bg-light">
        <!-- page content holder -->
        <div class="page-content-holder no-padding">
            <!-- page title -->
            <div class="page-title">
                <h1>Contáctenos</h1>
                <!-- breadcrumbs -->
                <ul class="breadcrumb">
                    <li><a href="index.html">Miga</a></li>
                    <li><a href="#">de</a></li>
                    <li class="active">pan</li>
                </ul>
                <!-- ./breadcrumbs -->
            </div>
            <!-- ./page title -->
        </div>
        <!-- ./page content holder -->
    </div>
    <!-- ./page content wrapper -->
    <!-- page content wrapper -->
    <div class="page-content-wrap">
        <!-- page content holder -->
        <div class="page-content-holder padding-v-30">
            <div class="row">
                <div class="col-md-9">
                    <div class="blog-content">
                        <img src="../img/contactenos.png" class="img-responsive" />
                        
                    </div>


                </div>
                <div class="col-md-3">

                    <div class="text-column this-animate" data-animate="fadeInRight">
                        <h4>Otros enlaces</h4>
                        <div class="list-links">
                            <a href="#">Cras ut neque metu</a>
                            <a href="#">Vestibulum eu gravida</a>
                            <a href="#">Aliquam aliquam magna</a>
                            <a href="#">Cras ut neque metu</a>
                            <a href="#">Etiam augue orci</a>
                        </div>
                    </div>


                </div>
            </div>

        </div>
        <!-- ./page content holder -->
    </div>
    <!-- ./page content wrapper -->

</div>
<!-- ./page content -->


