
@{
    ViewBag.Title = "Grilla Participaciones";
    Layout = "~/Views/Shared/_LayoutDiseño.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Consulta participaciones</h3>
        <ul class="panel-controls">
            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table datatable table-striped">



                <thead>
                    <tr>
                        <th>Id publicación</th>
                        <th>Título</th>
                        <th>Fecha publicación</th>
                        <th>Fecha vencimiento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>348974</td>
                        <td>Izatyje</td>
                        <td>05-11-2008</td>
                        <td>17-04-2011</td>
                    </tr>
                    <tr>
                        <td>5932557</td>
                        <td>Cecajal</td>
                        <td>09-01-2005</td>
                        <td>11-09-2005</td>
                    </tr>
                    <tr>
                        <td>456783476</td>
                        <td>Sisco</td>
                        <td>04-11-2009</td>
                        <td>19-08-2014</td>
                    </tr>
                    <tr>
                        <td>536554723</td>
                        <td>Pyan</td>
                        <td>12-08-2009</td>
                        <td>13-06-2013</td>
                    </tr>
                    <tr>
                        <td>5663545</td>
                        <td>Males</td>
                        <td>07-11-2009</td>
                        <td>09-08-2015</td>
                    </tr>
                    <tr>
                        <td>564655345</td>
                        <td>Sarta</td>
                        <td>24-11-2014</td>
                        <td>26-08-2015</td>
                    </tr>
                    <tr>
                        <td>3587685</td>
                        <td>Rioha</td>
                        <td>08-11-2012</td>
                        <td>29-08-2015</td>
                    </tr>
                    <tr>
                        <td>9587575</td>
                        <td>Bá</td>
                        <td>26-11-2012</td>
                        <td>29-08-2013</td>
                    </tr>
                    <tr>
                        <td>885689953</td>
                        <td>Nea</td>
                        <td>16-11-2006</td>
                        <td>19-08-2014</td>
                    </tr>
                    <tr>
                        <td>934567845</td>
                        <td>Ibué</td>
                        <td>03-11-2010</td>
                        <td>19-03-2011</td>
                    </tr>
                    <tr>
                        <td>785348454</td>
                        <td>Cúta</td>
                        <td>25-09-2009</td>
                        <td>11-09-2014</td>
                    </tr>
                    <tr>
                        <td>47678343</td>
                        <td>Bogá</td>
                        <td>23-11-2012</td>
                        <td>21-03-2013</td>
                    </tr>
                    <tr>
                        <td>796757824</td>
                        <td>Villencio</td>
                        <td>02-11-2009</td>
                        <td>19-08-2011</td>
                    </tr>
                    <tr>
                        <td>89578452</td>
                        <td>Btá</td>
                        <td>05-08-2006</td>
                        <td>15-08-2008</td>
                    </tr>
                    <tr>
                        <td>587765425</td>
                        <td>Buanga</td>
                        <td>15-03-2002</td>
                        <td>17-05-2008</td>
                    </tr>
                    <tr>
                        <td>77632554</td>
                        <td>San Androncia</td>
                        <td>05-08-2006</td>
                        <td>15-08-2008</td>
                    </tr>
                    <tr>
                        <td>9633432</td>
                        <td>Pato</td>
                        <td>25-12-2013</td>
                        <td>25-02-2014</td>
                    </tr>
                    <tr>
                        <td>4763635435</td>
                        <td>Riacha</td>
                        <td>02-08-2011</td>
                        <td>15-11-2012</td>
                    </tr>
                    <tr>
                        <td>3545466</td>
                        <td>Barilla</td>
                        <td>03-08-2012</td>
                        <td>25-08-2013</td>
                    </tr>
                    <tr>
                        <td>6345543</td>
                        <td>La Mesa</td>
                        <td>11-08-2005</td>
                        <td>18-08-2011</td>
                    </tr>
                    <tr>
                        <td>74623843</td>
                        <td>Boá</td>
                        <td>05-08-2006</td>
                        <td>15-08-2008</td>
                    </tr>

                    <p> &nbsp;</p>

                </tbody>
            </table>
        </div>
    </div>
</div>

