
@{
    ViewBag.Title = "Grilla Entidades";
    Layout = "~/Views/Shared/_LayoutDiseño.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Consulta entidades</h3>
        <ul class="panel-controls">
            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table datatable table-striped">



                <thead>
                    <tr>
                        <th>Id entidad</th>
                        <th>Nombre</th>
                        <th>Ciudad</th>
                        <th>Departamento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>734858974</td>
                        <td>Nelson Mendez</td>
                        <td>Iza</td>
                        <td>Boyacá</td>
                    </tr>
                    <tr>
                        <td>893257</td>
                        <td>Cecilia Carvajal</td>
                        <td>Cali</td>
                        <td>Valle</td>
                    </tr>
                    <tr>
                        <td>3473476</td>
                        <td>Junior Almanza</td>
                        <td>San Francisco</td>
                        <td>Cundinamarca</td>
                    </tr>
                    <tr>
                        <td>356236523y</td>
                        <td>Javier Diaz</td>
                        <td>Popayan</td>
                        <td>Cauca</td>
                    </tr>
                    <tr>
                        <td>65462363</td>
                        <td>Ana Torres</td>
                        <td>Quibdó</td>
                        <td>Chocó</td>
                    </tr>
                    <tr>
                        <td>45663545</td>
                        <td>Ines Perez</td>
                        <td>Manizales</td>
                        <td>Caldas</td>
                    </tr>
                    <tr>
                        <td>2564655345</td>
                        <td>Sandra Amaya</td>
                        <td>Santa Marta</td>
                        <td>Magdalena</td>
                    </tr>
                    <tr>
                        <td>83587685</td>
                        <td>Imelda Suarez</td>
                        <td>Riohacha</td>
                        <td>Guajira</td>
                    </tr>
                    <tr>
                        <td>39587575</td>
                        <td>Reinaldo Antonio</td>
                        <td>Bogotá</td>
                        <td>Cundinamarca</td>
                    </tr>
                    <tr>
                        <td>843585689735953</td>
                        <td>Jeanette Caldas</td>
                        <td>Neiva</td>
                        <td>Huila</td>
                    </tr>
                    <tr>
                        <td>9356874567845</td>
                        <td>Yuri Buenaventura</td>
                        <td>Ibagué</td>
                        <td>Tolima</td>
                    </tr>
                    <tr>
                        <td>4785348454</td>
                        <td>Carlos Betancur</td>
                        <td>Cúcuta</td>
                        <td>Norte de Santander</td>
                    </tr>
                    <tr>
                        <td>4597945843</td>
                        <td>Andrea Martinez</td>
                        <td>Ibagué</td>
                        <td>Tolima</td>
                    </tr>
                    <tr>
                        <td>88932478352</td>
                        <td>Mauricio Celis</td>
                        <td>Bucaramanga</td>
                        <td>Santander</td>
                    </tr>
                    <tr>
                        <td>8947678343</td>
                        <td>David Carrasco</td>
                        <td>Bogotá</td>
                        <td>Cundinamarca</td>
                    </tr>
                    <tr>
                        <td>358796757824</td>
                        <td>Tomás Moreno</td>
                        <td>Villavicencio</td>
                        <td>Meta</td>
                    </tr>
                    <tr>
                        <td>4389578452</td>
                        <td>Tania Londoño</td>
                        <td>Bogotá</td>
                        <td>Cundinamarca</td>
                    </tr>
                    <tr>
                        <td>78587765425</td>
                        <td>Sandra Vanegas</td>
                        <td>Bucaramanga</td>
                        <td>Santander</td>
                    </tr>
                    <tr>
                        <td>877632352554</td>
                        <td>María Antonia Salas</td>
                        <td>San Andrés y Providencia</td>
                        <td>San Andrés</td>
                    </tr>
                    <tr>
                        <td>879634523432</td>
                        <td>Patricia Rico</td>
                        <td>Pasto</td>
                        <td>Nariño</td>
                    </tr>
                    <tr>
                        <td>984763635435</td>
                        <td>Alexander Barrera</td>
                        <td>Riohacha</td>
                        <td>Guajira</td>
                    </tr>
                    <tr>
                        <td>993545466</td>
                        <td>René Nieto</td>
                        <td>Barranquilla</td>
                        <td>Atlántico</td>
                    </tr>
                    <tr>
                        <td>846345543</td>
                        <td>Javier Atehortúa</td>
                        <td>La Mesa</td>
                        <td>Cundinamarca</td>
                    </tr>
                    <tr>
                        <td>57274623843</td>
                        <td>Alberto Barros</td>
                        <td>Bogotá</td>
                        <td>Cundinamarca</td>
                    </tr>

                    <p> &nbsp;</p>

                </tbody>
            </table>
        </div>
    </div>
</div>

