@{
    ViewBag.Title = "Página en blanco";
    Layout = "~/Views/Shared/_LayoutDiseño.cshtml";
}


<!-- PAGE CONTENT TABBED -->
<div class="page-tabs">
    <a href="#first-tab" class="active">Hoy</a>
    <a href="#second-tab">Mañana</a>
    <a href="#third-tab">Pasado mañana</a>
</div>

<div class="page-content-wrap page-tabs-item active" id="first-tab">
    <div class="list-group list-group-contacts">
        <a href="#" class="list-group-item">
            <div class="list-group-status status-online"></div>
            <img src="~/assets/esferas_responsive.png" class="pull-left" alt="" />
            <span class="contacts-title">Nombre del evento hoy</span>
            <p>Información más detallada del evento</p>
            <div class="list-group-controls">
                <button class="btn btn-success"><span class="fa fa-link"></span></button>
            </div>
        </a>
        <a href="#" class="list-group-item">
            <div class="list-group-status status-online"></div>
            <img src="~/assets/esferas_responsive.png" class="pull-left" alt="" />
            <span class="contacts-title">Nombre del evento</span>
            <p>Información más detallada del evento</p>
            <div class="list-group-controls">
                <button class="btn btn-success"><span class="fa fa-link"></span></button>
            </div>
        </a>
        <a href="#" class="list-group-item">
            <div class="list-group-status status-away"></div>
            <img src="~/assets/esferas_responsive.png" class="pull-left" alt="" />
            <span class="contacts-title">Nombre del evento</span>
            <p>Información más detallada del evento</p>
            <div class="list-group-controls">
                <button class="btn btn-success"><span class="fa fa-link"></span></button>
            </div>
        </a>
        <a href="#" class="list-group-item">
            <div class="list-group-status status-offline"></div>
            <img src="~/assets/esferas_responsive.png" class="pull-left" alt="" />
            <span class="contacts-title">Nombre del evento</span>
            <p>Información más detallada del evento</p>
            <div class="list-group-controls">
                <button class="btn btn-success"><span class="fa fa-link"></span></button>
            </div>
        </a>
    </div>
</div>
<div class="page-content-wrap page-tabs-item" id="second-tab">
    <div class="list-group list-group-contacts">
        <a href="#" class="list-group-item">
            <div class="list-group-status status-online"></div>
            <img src="~/assets/esferas_responsive.png" class="pull-left" alt="" />
            <span class="contacts-title">Nombre del evento mañana</span>
            <p>Información más detallada del evento</p>
            <div class="list-group-controls">
                <button class="btn btn-success"><span class="fa fa-link"></span></button>
            </div>
        </a>
        <a href="#" class="list-group-item">
            <div class="list-group-status status-online"></div>
            <img src="~/assets/esferas_responsive.png" class="pull-left" alt="" />
            <span class="contacts-title">Nombre del evento</span>
            <p>Información más detallada del evento</p>
            <div class="list-group-controls">
                <button class="btn btn-success"><span class="fa fa-link"></span></button>
            </div>
        </a>
        <a href="#" class="list-group-item">
            <div class="list-group-status status-away"></div>
            <img src="~/assets/esferas_responsive.png" class="pull-left" alt="" />
            <span class="contacts-title">Nombre del evento</span>
            <p>Información más detallada del evento</p>
            <div class="list-group-controls">
                <button class="btn btn-success"><span class="fa fa-link"></span></button>
            </div>
        </a>
        <a href="#" class="list-group-item">
            <div class="list-group-status status-offline"></div>
            <img src="~/assets/esferas_responsive.png" class="pull-left" alt="" />
            <span class="contacts-title">Nombre del evento</span>
            <p>Información más detallada del evento</p>
            <div class="list-group-controls">
                <button class="btn btn-success"><span class="fa fa-link"></span></button>
            </div>
        </a>
    </div>
</div>
<div class="page-content-wrap page-tabs-item" id="third-tab">
    <div class="list-group list-group-contacts">
        <a href="#" class="list-group-item">
            <div class="list-group-status status-online"></div>
            <img src="~/assets/esferas_responsive.png" class="pull-left" alt="" />
            <span class="contacts-title">Nombre del evento pasado mañana</span>
            <p>Información más detallada del evento</p>
            <div class="list-group-controls">
                <button class="btn btn-success"><span class="fa fa-link"></span></button>
            </div>
        </a>
        <a href="#" class="list-group-item">
            <div class="list-group-status status-online"></div>
            <img src="~/assets/esferas_responsive.png" class="pull-left" alt="" />
            <span class="contacts-title">Nombre del evento</span>
            <p>Información más detallada del evento</p>
            <div class="list-group-controls">
                <button class="btn btn-success"><span class="fa fa-link"></span></button>
            </div>
        </a>
        <a href="#" class="list-group-item">
            <div class="list-group-status status-away"></div>
            <img src="~/assets/esferas_responsive.png" class="pull-left" alt="" />
            <span class="contacts-title">Nombre del evento</span>
            <p>Información más detallada del evento</p>
            <div class="list-group-controls">
                <button class="btn btn-success"><span class="fa fa-link"></span></button>
            </div>
        </a>
        <a href="#" class="list-group-item">
            <div class="list-group-status status-offline"></div>
            <img src="~/assets/esferas_responsive.png" class="pull-left" alt="" />
            <span class="contacts-title">Nombre del evento</span>
            <p>Información más detallada del evento</p>
            <div class="list-group-controls">
                <button class="btn btn-success"><span class="fa fa-link"></span></button>
            </div>
        </a>
    </div>
</div>
<!-- END PAGE CONTENT TABBED -->

@section Scripts
{
    <script type="text/javascript">

    </script>

}

