
@{
    ViewBag.Title = "Cacharreo jQuery Autocomplete";
    Layout = "~/Views/Shared/_LayoutDiseño.cshtml";

} 

@section Scripts 
{

<script type="text/javascript">

	$(function () {

	    var data_1 = [
            "ActionScript",
            "AppleScript",
            "Asp",
            "BASIC",
            "C",
            "C++",
            "Clojure",
            "COBOL",
            "ColdFusion",
            "Erlang",
            "Fortran",
            "Groovy",
            "Haskell",
            "Java",
            "JavaScript",
            "Lisp",
            "Perl",
            "PHP",
            "Python",
            "Ruby",
            "Scala",
            "Scheme"
	    ];

	    $("#quick-search").autocomplete({
	        source: data_1,
	        open: function (event, ui) {

	            var autocomplete = $(".ui-autocomplete:visible");
	            var oldTop = autocomplete.offset().top;
	            var newTop = oldTop - $("#quick-search").height() + 25;
	            autocomplete.css("top", newTop);

	        }
	    });

	});
</script>


}

	<div class="row">
	    <div class="col-md-12">
	        
	        <!-- jQuery AUTOCOMPLETE -->                            
	        <div class="panel panel-default">
	            <div class="panel-body">
	                <h3>jQuery <strong>Autocomplete</strong></h3>
	                <p>Enables users to quickly find and select from a pre-populated list of values as they type, leveraging searching and filtering.</p>
	                <form action="#" class="form-horizontal">
	                    <div class="form-group">
	                        <div class="col-md-2"></div>
	                        <label class="control-label col-md-2">Default:</label>
	                        <div class="col-md-4">                                                
	                            <input id="quick-search" class="form-control"/>
	                            <div class="help-block">Try typing "a", "c", "p" etc.</div>
	                        </div>
	                        <div class="col-md-4"></div>
	                    </div>                                        
	                </form>
	            </div>
	        </div>                            
	        <!-- END jQuery AUTOCOMPLETE -->

	    </div>
	</div>

