@{
    ViewBag.Title = "Página en blanco";
    Layout = "~/Views/Shared/_LayoutDiseño.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Filtrar por tipo de evento</h3>
            </div>
            <div class="panel-body">
                <ul class="list-tags">
                    <li><a href="#"><span class="fa fa-tag"></span> amet</a></li>
                    <li><a href="#"><span class="fa fa-tag"></span> rutrum</a></li>
                    <li><a href="#"><span class="fa fa-tag"></span> nunc</a></li>
                    <li><a href="#"><span class="fa fa-tag"></span> tempor</a></li>
                    <li><a href="#"><span class="fa fa-tag"></span> eros</a></li>
                    <li><a href="#"><span class="fa fa-tag"></span> suspendisse</a></li>
                    <li><a href="#"><span class="fa fa-tag"></span> dolor</a></li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Filtrar por otros criterios </h3>
            </div>
            <div class="panel-body">
                <ul class="list-group border-bottom">
                    <li class="list-group-item">Lorem ipsum dolor sit amet<span class="badge">14</span></li>
                    <li class="list-group-item">Mauris placerat justo ut augue<span class="badge badge-danger">8</span></li>
                    <li class="list-group-item">Donec ac venenatis elit<span class="badge badge-info">7</span></li>
                    <li class="list-group-item">Maecenas mauris diam<span class="badge badge-success">25</span></li>
                    <li class="list-group-item">Curabitur porttitor massa justo<span class="badge badge-warning">58</span></li>
                </ul>
            </div>
        </div>
    </div>



    <div class="col-md-8">
        <!-- PAGE CONTENT TABBED -->
        <div class="page-tabs">
            <a href="#first-tab" class="active">Hoy</a>
            <a href="#second-tab">Mañana</a>
            <a href="#third-tab">Pasado mañana</a>
        </div>

        <div class="page-content-wrap page-tabs-item active" id="first-tab">
            <div class="list-group list-group-contacts">
                <a href="#" class="list-group-item">
                    <div class="list-group-status status-online"></div>
                    <img src="~/assets/esferas_responsive.png" class="pull-left" alt="" />
                    <span class="contacts-title">Nombre del evento hoy</span>
                    <p>Información más detallada del evento</p>
                    <div class="list-group-controls">
                        <button class="btn btn-success"><span class="fa fa-link"></span></button>
                    </div>
                </a>
                <a href="#" class="list-group-item">
                    <div class="list-group-status status-online"></div>
                    <img src="~/assets/esferas_responsive.png" class="pull-left" alt="" />
                    <span class="contacts-title">Nombre del evento</span>
                    <p>Información más detallada del evento</p>
                    <div class="list-group-controls">
                        <button class="btn btn-success"><span class="fa fa-link"></span></button>
                    </div>
                </a>
                <a href="#" class="list-group-item">
                    <div class="list-group-status status-away"></div>
                    <img src="~/assets/esferas_responsive.png" class="pull-left" alt="" />
                    <span class="contacts-title">Nombre del evento</span>
                    <p>Información más detallada del evento</p>
                    <div class="list-group-controls">
                        <button class="btn btn-success"><span class="fa fa-link"></span></button>
                    </div>
                </a>
                <a href="#" class="list-group-item">
                    <div class="list-group-status status-offline"></div>
                    <img src="~/assets/esferas_responsive.png" class="pull-left" alt="" />
                    <span class="contacts-title">Nombre del evento</span>
                    <p>Información más detallada del evento</p>
                    <div class="list-group-controls">
                        <button class="btn btn-success"><span class="fa fa-link"></span></button>
                    </div>
                </a>
            </div>
        </div>
        <div class="page-content-wrap page-tabs-item" id="second-tab">
            <div class="list-group list-group-contacts">
                <a href="#" class="list-group-item">
                    <div class="list-group-status status-online"></div>
                    <img src="~/assets/esferas_responsive.png" class="pull-left" alt="" />
                    <span class="contacts-title">Nombre del evento mañana</span>
                    <p>Información más detallada del evento</p>
                    <div class="list-group-controls">
                        <button class="btn btn-success"><span class="fa fa-link"></span></button>
                    </div>
                </a>
                <a href="#" class="list-group-item">
                    <div class="list-group-status status-online"></div>
                    <img src="~/assets/esferas_responsive.png" class="pull-left" alt="" />
                    <span class="contacts-title">Nombre del evento</span>
                    <p>Información más detallada del evento</p>
                    <div class="list-group-controls">
                        <button class="btn btn-success"><span class="fa fa-link"></span></button>
                    </div>
                </a>
                <a href="#" class="list-group-item">
                    <div class="list-group-status status-away"></div>
                    <img src="~/assets/esferas_responsive.png" class="pull-left" alt="" />
                    <span class="contacts-title">Nombre del evento</span>
                    <p>Información más detallada del evento</p>
                    <div class="list-group-controls">
                        <button class="btn btn-success"><span class="fa fa-link"></span></button>
                    </div>
                </a>
                <a href="#" class="list-group-item">
                    <div class="list-group-status status-offline"></div>
                    <img src="~/assets/esferas_responsive.png" class="pull-left" alt="" />
                    <span class="contacts-title">Nombre del evento</span>
                    <p>Información más detallada del evento</p>
                    <div class="list-group-controls">
                        <button class="btn btn-success"><span class="fa fa-link"></span></button>
                    </div>
                </a>
            </div>
        </div>
        <div class="page-content-wrap page-tabs-item" id="third-tab">
            <div class="list-group list-group-contacts">
                <a href="#" class="list-group-item">
                    <div class="list-group-status status-online"></div>
                    <img src="~/assets/esferas_responsive.png" class="pull-left" alt="" />
                    <span class="contacts-title">Nombre del evento pasado mañana</span>
                    <p>Información más detallada del evento</p>
                    <div class="list-group-controls">
                        <button class="btn btn-success"><span class="fa fa-link"></span></button>
                    </div>
                </a>
                <a href="#" class="list-group-item">
                    <div class="list-group-status status-online"></div>
                    <img src="~/assets/esferas_responsive.png" class="pull-left" alt="" />
                    <span class="contacts-title">Nombre del evento</span>
                    <p>Información más detallada del evento</p>
                    <div class="list-group-controls">
                        <button class="btn btn-success"><span class="fa fa-link"></span></button>
                    </div>
                </a>
                <a href="#" class="list-group-item">
                    <div class="list-group-status status-away"></div>
                    <img src="~/assets/esferas_responsive.png" class="pull-left" alt="" />
                    <span class="contacts-title">Nombre del evento</span>
                    <p>Información más detallada del evento</p>
                    <div class="list-group-controls">
                        <button class="btn btn-success"><span class="fa fa-link"></span></button>
                    </div>
                </a>
                <a href="#" class="list-group-item">
                    <div class="list-group-status status-offline"></div>
                    <img src="~/assets/esferas_responsive.png" class="pull-left" alt="" />
                    <span class="contacts-title">Nombre del evento</span>
                    <p>Información más detallada del evento</p>
                    <div class="list-group-controls">
                        <button class="btn btn-success"><span class="fa fa-link"></span></button>
                    </div>
                </a>
            </div>
        </div>

        <!-- END PAGE CONTENT TABBED -->
        </div>
    </div>
@section Scripts
{
    <script type="text/javascript">

    </script>

}

