
@{
    ViewBag.Title = "Asistencia";
    Layout = "~/Views/Shared/_LayoutEstandar.cshtml";
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("Inicio", "Index", "Inicio")</li>
    <li><a href="http://musica.pcvsoft.com.co/inicio.aspx" target="_blank">PcvSoft Inicio</a></li>
   
</ul>
<div class="container">
    <div class="row">
        <div class="panel-body" id="panelEditar">
            <iframe src="http://musica.pcvsoft.com.co/Publico/AsistenciaActividades.aspx" width="1230" height="1000"></iframe>
        </div>
    </div>
</div>
