USE [SIPA]
GO
/****** Object:  StoredProcedure [dbo].[ART_ME_ART_MUSICA_ENT_INFR_MATERIAL_PEGAOGICO_ObtenerPorENT_ID]    Script Date: 10/09/2015 10:23:50 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ART_ME_ART_MUSICA_ENT_MATERIALPEGAOGICO_ObtenerPorENT_ID] (
	@ENT_ID numeric(18, 0)
)
AS

SET NOCOUNT ON

SELECT
	[ENT_ID],
	[ART_MUSICA_ENT_INFR_MATERIAL_PEGAOGICO].[ART_MUS_MAT_PED_ID],
	M.ART_MUS_MAT_PED_DESCRIPCION
FROM
	[ART_MUSICA_ENT_INFR_MATERIAL_PEGAOGICO]
INNER JOIN [ART_MUSICA_MATERIAL_PEDAGOGICO] M ON [ART_MUSICA_ENT_INFR_MATERIAL_PEGAOGICO].[ART_MUS_MAT_PED_ID] = M.ART_MUS_MAT_PED_ID
WHERE
	[ENT_ID] = @ENT_ID
