USE [SIPA]
GO
/****** Object:  StoredProcedure [dbo].[ART_ME_ART_MUSICA_ENT_INFR_FUENTES_DOTACION_ObtenerPorENT_ID]    Script Date: 09/09/2015 5:41:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[ART_ME_ART_MUSICA_FUENTES_DOTACION_ObtenerPorENT_ID] (
	@ENT_ID numeric(18, 0)
)
AS

SET NOCOUNT ON

SELECT
	[ENT_ID],
	[ART_MUSICA_ENT_INFR_FUENTES_DOTACION].[ART_MUSICA_FUENTES_DOTACION_ID],
	F.ART_MUSICA_FUENTES_DOTACION_DESCRIPCION
FROM
	[ART_MUSICA_ENT_INFR_FUENTES_DOTACION]
	inner join ART_MUSICA_FUENTES_DOTACION F on [ART_MUSICA_ENT_INFR_FUENTES_DOTACION].ART_MUSICA_FUENTES_DOTACION_ID = f.ART_MUSICA_FUENTES_DOTACION_ID
WHERE
	[ENT_ID] = @ENT_ID
