USE [SIPA]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ART_ME_ART_MUSICA_ENTIDAD_IDENTIFICACION_Insertar] (
	@ENT_ID numeric(18, 0),
	@ENT_TELEFONOS char(100),
	@ENT_CONTACTO_CORREO varchar(100),
	@USU_ID numeric(18, 0)
)
AS

SET NOCOUNT ON

INSERT INTO [ART_MUSICA_ENTIDAD_IDENTIFICACION] (
	[ENT_ID],
	[ENT_TELEFONOS],
	[ENT_CONTACTO_CORREO],
	[USU_ID]
) VALUES (
	@ENT_ID,
	@ENT_TELEFONOS,
	@ENT_CONTACTO_CORREO,
	@USU_ID
)

-- 15 Area artistica: Música
-- 36 Tipo entidad:  Escuelas de Música
INSERT INTO ART_ENTIDAD_ACTIVIDAD
(
	[ENT_ID],
	ENT_AREA_ARTISTICA,
	TEA_ID
) VALUES (
	@ENT_ID,
	15,
	36
)