USE [SIPA]
GO
/****** Object:  StoredProcedure [dbo].[ART_ME_ART_ENTIDADES_ARTES_ObtenerPorId]    Script Date: 28/07/2015 4:50:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ART_ME_ART_ENTIDADES_ARTES_ObtenerPorId] (
	@ENT_ID numeric(18, 0)
)
AS

SET NOCOUNT ON

SELECT     ART_ENTIDADES_ARTES.ENT_ID, ART_ENTIDADES_ARTES.DOC_ID_REPRESENTANTE, ART_ENTIDADES_ARTES.ENT_FECHA_DILIGENCIAMIENTO, 
                      ART_ENTIDADES_ARTES.ENT_OTRA_CLASE_ENTIDAD, ART_ENTIDADES_ARTES.ENT_FORMACION_PRACTICAS_ARTISTICAS, 
                      ART_ENTIDADES_ARTES.ENT_NRO_INTEGRANTES_PRACTICAS, ART_ENTIDADES_ARTES.ENT_FORMACION_PUBLICO, 
                      ART_ENTIDADES_ARTES.ENT_NUM_DOCUMENTO_REPRESENTANTE, ART_ENTIDADES_ARTES.ENT_NOMBRE, ART_ENTIDADES_ARTES.ENT_IMAGEN, 
                      ART_ENTIDADES_ARTES.ENT_ESTADO, ART_ENTIDADES_ARTES.ENT_FECHA_VIGENCIA_INICIAL, ART_ENTIDADES_ARTES.ENT_FECHA_VIGENCIA_FINAL, 
                      ART_ENTIDADES_ARTES.ENT_NIT, ART_ENTIDADES_ARTES.ENT_ANO_CONSTITUCION, ART_ENTIDADES_ARTES.ENT_ACTIVIDAD_PRINCIPAL, 
                      ART_ENTIDADES_ARTES.ENT_AREA_ARTISTICA, ART_ENTIDADES_ARTES.ENT_NOMBRE_REPRESENTANTE_LEGAL, 
                      ART_ENTIDADES_ARTES.ENT_CARGO_REPRESENTANTE_LEGAL, ART_ENTIDADES_ARTES.ENT_ANO_VINCUALCION_REPRESENTANTE_LEGAL, 
                      ART_ENTIDADES_ARTES.ENT_NOMBRE_CONTACTO, ART_ENTIDADES_ARTES.ENT_CARGO_CONTACTO, 
                      ART_ENTIDADES_ARTES.ENT_ANO_VINCUALCION_CONTACTO, ART_ENTIDADES_ARTES.ENT_NIVEL_ENTIDAD_DEPENDE_RED, 
                      ART_ENTIDADES_ARTES.ENT_NOMBRE_ENTIDAD_DEPENDE_RED, ART_ENTIDADES_ARTES.ENT_OBSERVACION_VALIDACION, 
                      ART_ENTIDADES_ARTES.ENT_CONCERTACION, ART_ENTIDADES_ARTES.ENT_FECHA_ACTUALIZACION, ART_ENTIDADES_ARTES.ENT_RECURSO_PRIVADO, 
                      ART_ENTIDADES_ARTES.ENT_RECURSO_PUBLICO, ART_ENTIDADES_ARTES.ENT_RECURSO_MIXTAS, ART_ENTIDADES_ARTES.REG_ID, 
                      ART_ENTIDADES_ARTES.ENT_LUGAR_EXPEDICION, ART_ENTIDADES_ARTES.ENT_OTRO_NIVEL_FORMACION_IMPARTE, 
                      ART_ENTIDADES_ARTES.ENT_EXPERIENCIA_EXITOSA, ART_ENTIDADES_ARTES.ENT_RESENA, ART_ENTIDADES_ARTES.ENT_FECHA_CAMBIO_ESTADO, 
                      ART_ENTIDAD_UBICACION.ZON_ID,  ART_ENTIDAD_UBICACION.ARE_ID, BAS_ZONAS_GEOGRAFICAS.ZON_NOMBRE, BAS_ZONAS_GEOGRAFICAS.ZON_PADRE_ID, 
                      dbo.FN_DEPARTAMENTOS(BAS_ZONAS_GEOGRAFICAS.ZON_ID) AS ZON_NOMBRE_PADRE, ART_MUSICA_ENTIDAD_IDENTIFICACION.ENT_TELEFONOS, 
                      ART_MUSICA_ENTIDAD_IDENTIFICACION.ENT_CONTACTO_CORREO, BAS_ZONAS_PAISES.ZOP_NOMBRE, ART_ENTIDAD_UBICACION.ENT_DIRECCION, 
                      ART_ENTIDAD_UBICACION.ENT_DIRECCION_CORRESPONDENCIA, ART_ENTIDAD_UBICACION.ENT_TELEFONO, ART_ENTIDAD_UBICACION.ENT_FAX, 
                      ART_ENTIDAD_UBICACION.ENT_CORREO_ELECTRONICO_ENTIDAD, ART_ENTIDAD_UBICACION.ENT_PAGINA_WEB, 
                      ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_NOMBRES_DIRECTOR, ART_MUSICA_ENTIDAD_PRODUCCION.ENT_CANTIDAD_GIRAS_ULTIMO_ANIO, 
                      ART_MUSICA_ENTIDAD_PRODUCCION.ENT_CANTIDAD_GIRAS_INTER_ULTIMO_ANIO, 
                      ART_MUSICA_ENTIDAD_PRODUCCION.ENT_CANTIDAD_PRESENTACIONES_LOCALIDAD_ULTIMO_ANIO, 
                      ART_MUSICA_ENTIDAD_PRODUCCION.ENT_CANTIDAD_AGRUPACIONES_CONFORMADAS_VIGENTES, 
                      ART_MUSICA_ENTIDAD_PRODUCCION.ENT_CANTIDAD_DISCOS_ULTIMO_ANIO, 
                      ART_MUSICA_ENTIDAD_PRODUCCION.ENT_CANTIDAD_REPERTORIOS_ULTIMO_ANIO, 
                      ART_MUSICA_ENTIDAD_PRODUCCION.ENT_CANTIDAD_MATERIAL_DIVULGATIVO_ULTIMO_ANIO, 
                      ART_MUSICA_ENTIDAD_PRODUCCION.ENT_CANTIDAD_MATERIAL_APOYO_ULTIMO_ANIO, ART_ENTIDAD_UBICACION.PERFIL_FACEBOOK, 
                      ART_ENTIDAD_UBICACION.PERFIL_TWITTER, ART_ENTIDAD_UBICACION.CANAL_YOUTUBE
FROM         ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD RIGHT OUTER JOIN
                      ART_MUSICA_ENTIDAD_PRODUCCION RIGHT OUTER JOIN
                      ART_ENTIDADES_ARTES ON ART_MUSICA_ENTIDAD_PRODUCCION.ENT_ID = ART_ENTIDADES_ARTES.ENT_ID ON 
                      ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_ID = ART_ENTIDADES_ARTES.ENT_ID LEFT OUTER JOIN
                      ART_MUSICA_ENTIDAD_IDENTIFICACION ON ART_ENTIDADES_ARTES.ENT_ID = ART_MUSICA_ENTIDAD_IDENTIFICACION.ENT_ID FULL OUTER JOIN
                      BAS_ZONAS_PAISES RIGHT OUTER JOIN
                      BAS_ZONAS_GEOGRAFICAS INNER JOIN
                      ART_ENTIDAD_UBICACION ON BAS_ZONAS_GEOGRAFICAS.ZON_ID = ART_ENTIDAD_UBICACION.ZON_ID ON 
                      BAS_ZONAS_PAISES.ZOP_ID = ART_ENTIDAD_UBICACION.ZOP_ID ON ART_ENTIDADES_ARTES.ENT_ID = ART_ENTIDAD_UBICACION.ENT_ID
WHERE     (ART_ENTIDADES_ARTES.ENT_TIPO = 'E') AND  (ART_ENTIDADES_ARTES.ENT_ID = @ENT_ID)
