USE [SIPA]
GO
/****** Object:  StoredProcedure [dbo].[ART_ME_ART_MUS_TIP_PROY_ORG_COM_ENT_PARTICIPACION_ObtenerPorENT_ID]    Script Date: 10/09/2015 10:44:58 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ART_ME_ART_MUSICA_PROYECTOSORGANIZACION_ObtenerPorENT_ID] (
	@ENT_ID numeric(18, 0)
)
AS

SET NOCOUNT ON

SELECT
	[ENT_ID],
	[ART_MUS_TIP_PROY_ORG_COM_ENT_PARTICIPACION].[ART_MUS_TIP_PROY_ORG_COM_ID],
	P.ART_MUS_TIP_PROY_ORG_COM_DESCRIPCION
FROM
	[ART_MUS_TIP_PROY_ORG_COM_ENT_PARTICIPACION]
	INNER JOIN [ART_MUSICA_TIPO_PROY_ORG_COM] P ON [ART_MUS_TIP_PROY_ORG_COM_ENT_PARTICIPACION].[ART_MUS_TIP_PROY_ORG_COM_ID] = P.ART_MUS_TIP_PROY_ORG_COM_ID
WHERE
	[ENT_ID] = @ENT_ID
