USE [SIPA]
GO
/****** Object:  StoredProcedure [dbo].[ART_ME_ART_MUSICA_ENTIDAD_PARTICIPACION_ObtenerPorId]    Script Date: 28/08/2015 2:40:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[ART_ME_ART_MUSICA_ENTIDAD_PARTICIPACION_PorId] (
	@ENT_ID numeric(18, 0)
)
AS

SET NOCOUNT ON

SELECT
	[ENT_ID],
	[ENT_CANTIDAD_ALUMNOS_MENOR_6],
	[ENT_CANTIDAD_ALUMNOS_ENTRE_7_11],
	[ENT_CANTIDAD_ALUMNOS_ENTRE_12_18],
	[ENT_CANTIDAD_ALUMNOS_ENTRE_19_25],
	[ENT_CANTIDAD_ALUMNOS_MAYOR_26],
	[ENT_CANTITDAD_TOTAL_ALUMNOS_EDAD],
	[ENT_CANTIDAD_ALUMNOS_MASCULINO],
	[ENT_CANTIDAD_ALUMNOS_FEMENINO],
	[ENT_CANTIDAD_TOTAL_ALUMNOS_GENERO],
	[ENT_CANTIDAD_ALUMNOS_RURAL],
	[ENT_CANTIDAD_ALUMNOS_URBANA],
	[ENT_CANTIDAD_TOTAL_ALUMNOS_AREA],
	[ENT_CANTIDAD_ALUMNOS_INDIGENAS],
	[ENT_CANTIDAD_ALUMNOS_AFRO],
	[ENT_CANTIDAD_ALUMNOS_ROM],
	[ENT_CANTIDAD_ALUMNOS_RAIZALES],
	[ENT_CANTIDAD_ALUMNOS_OTROS],
	[ENT_CANTIDAD_TOTAL_ALUMNOS_ETNIA],
	[ENT_CANTIDAD_ALUMNOS_DISCAPACITADOS],
	[ENT_CANTIDAD_ALUMNOS_DESPLAZADOS],
	[ENT_CANTIDAD_TOTAL_ALUMNOS_ESPECIALES],
	[ENT_ORGANIZACION_COMUNITARIA],
	[ORGANIZACION_COMUNITARIA_ID],
	[OTRA_ORGANIZACION_COMUNITARIA],
	[ENT_ORGANIZACION_COMUNITARIA_PROYECTO_ENTORNO_ESCUELA],
	[OTRO_PROYECTO_ENTORNO_ESCUELA],
	[ENT_NOMBRE_ORGANIZACION],
	[ENT_INTEGRANTES_ORGANIZACION],
	[ENT_NOMBRE_PRESIDENTE_ORGANIZACION],
	[ENT_TELEFONO_CELULAR_PRESIDENTE_ORGANIZACION],
	[ENT_TELEFONO_FIJO_PRESIDENTE_ORGANIZACION],
	[ENT_CORREO_ELECTRONICO_PRESIDENTE_ORGANIZACION],
	[ENT_CANTIDAD_ALUMNOS_MAYOR_60],
	ENT_CANTIDAD_ALUMNOS_REDUNIDOS,
	ENT_CANTIDAD_ALUMNOS_CUPOS
FROM
	[ART_MUSICA_ENTIDAD_PARTICIPACION]
WHERE
	[ENT_ID] = @ENT_ID
