USE [SIPA]
GO
/****** Object:  StoredProcedure [dbo].[ART_ME_ART_MUSICA_PRAC_MUS_ENT_FORMACION_ObtenerPorENT_ID]    Script Date: 10/09/2015 10:57:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ART_ME_ART_MUSICA_PRACTICAMUSICAL_ObtenerPorENT_ID] (
	@ENT_ID numeric(18, 0)
)
AS

SET NOCOUNT ON

SELECT
	[ENT_ID],
	[ART_MUSICA_PRAC_MUS_ENT_FORMACION].[ART_MUS_PRAC_MUS_ID],
	P.ART_MUS_PRAC_MUS_DESCRIPCION
FROM
	[ART_MUSICA_PRAC_MUS_ENT_FORMACION]
	INNER JOIN [ART_MUSICA_PRACTICA_MUSICAL] P ON [ART_MUSICA_PRAC_MUS_ENT_FORMACION].[ART_MUS_PRAC_MUS_ID] = P.ART_MUS_PRAC_MUS_ID
WHERE
	[ENT_ID] = @ENT_ID
