USE [SIPA]
GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_ENTIDADES_Id]    Script Date: 11/12/2015 12:07:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[ART_MUSICA_AGRUPACION_Id]
	@AgrupacionId int
AS
BEGIN
	SELECT A.ID as AgrupacionId,
	   A.CodigoDepartamento,
	   A.CodigoMunicipio,
	   A.CodigoPais,
	   A.Telefono,
	   A.TipoAgrupacionId,
	   A.Nombre,
	   A.CorreoElectronico,
	   A.Direccion,
	   A.FechaActualizacion,
	   A.FechaCreacion,
	   A.Imagen,
	   A.LinkPortafolio,
	   P.ZOP_NOMBRE AS Pais,
	   D.ZON_NOMBRE as Departamento,
	   M.ZON_NOMBRE as Municipio,
	   E.Nombre AS Estado, 
	   A.Descripcion,
	   A.Latitud,
       A.Longitud,
	   B.CODIGO,
	   B.DOC_NOMBRE,
	   A.Identificacion,
	   G.PrimerNombre + ' ' + isnull(G.SegundoNombre, '') AS NombreDirector,
	   G.PrimerApellido + ' ' + isnull(G.SedundoApellido, '') AS ApellidoDirector,
	   T.Nombre aS TipoAgrupacion
FROM ART_MUSICA_AGRUPACION A
INNER JOIN BAS_ZONAS_PAISES P ON  A.CodigoPais = P.ZOP_ID
LEFT JOIN BAS_ZONAS_GEOGRAFICAS D ON A.CodigoDepartamento = D.ZON_ID
LEFT JOIN BAS_ZONAS_GEOGRAFICAS M ON A.CodigoMunicipio = M.ZON_ID
INNER JOIN ART_MUSICA_ESTADOS E ON A.EstadoId = E.Id
INNER JOIN ART_MUSICA_TIPO_AGRUPACION T ON A.TipoAgrupacionId = T.Id
INNER JOIN BAS_TIPOS_DOCUMENTOS_IDENTIDAD B ON A.CodTipoDocumento = B.DOC_ID
INNER JOIN ART_MUSICA_AGENTE G ON A.AgenteId = G.ID
WHERE A.ID = @AgrupacionId

    
END
GO
/*TODOS*/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[ART_MUSICA_AGRUPACION_Todos]

AS
BEGIN
	SELECT A.ID as AgrupacionId,
	   A.CodigoDepartamento,
	   A.CodigoMunicipio,
	   A.CodigoPais,
	   A.Telefono,
	   A.TipoAgrupacionId,
	   A.Nombre,
	   A.CorreoElectronico,
	   A.Direccion,
	   A.FechaActualizacion,
	   A.FechaCreacion,
	   A.Imagen,
	   A.LinkPortafolio,
	   P.ZOP_NOMBRE AS Pais,
	   D.ZON_NOMBRE as Departamento,
	   M.ZON_NOMBRE as Municipio,
	   E.Nombre AS Estado, 
	   A.Descripcion,
	   A.Latitud,
       A.Longitud,
	   B.CODIGO,
	   B.DOC_NOMBRE,
	   A.Identificacion,
	    G.PrimerNombre + ' ' + isnull(G.SegundoNombre, '') AS NombreDirector,
	   G.PrimerApellido + ' ' + isnull(G.SedundoApellido, '') AS ApellidoDirector,
	   T.Nombre aS TipoAgrupacion
FROM ART_MUSICA_AGRUPACION A
INNER JOIN BAS_ZONAS_PAISES P ON  A.CodigoPais = P.ZOP_ID
LEFT JOIN BAS_ZONAS_GEOGRAFICAS D ON A.CodigoDepartamento = D.ZON_ID
LEFT JOIN BAS_ZONAS_GEOGRAFICAS M ON A.CodigoMunicipio = M.ZON_ID
INNER JOIN ART_MUSICA_ESTADOS E ON A.EstadoId = E.Id
INNER JOIN ART_MUSICA_TIPO_AGRUPACION T ON A.TipoAgrupacionId = T.Id
INNER JOIN BAS_TIPOS_DOCUMENTOS_IDENTIDAD B ON A.CodTipoDocumento = B.DOC_ID
INNER JOIN ART_MUSICA_AGENTE G ON A.AgenteId = G.ID
    
END
go

/* por usuarioId*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[ART_MUSICA_AGRUPACION_UsuarioId]
	@UsuarioId int
AS
BEGIN
	SELECT A.ID as AgrupacionId,
	   A.CodigoDepartamento,
	   A.CodigoMunicipio,
	   A.CodigoPais,
	   A.Telefono,
	   A.TipoAgrupacionId,
	   A.Nombre,
	   A.CorreoElectronico,
	   A.Direccion,
	   A.FechaActualizacion,
	   A.FechaCreacion,
	   A.Imagen,
	   A.LinkPortafolio,
	   P.ZOP_NOMBRE AS Pais,
	   D.ZON_NOMBRE as Departamento,
	   M.ZON_NOMBRE as Municipio,
	   E.Nombre AS Estado, 
	   A.Descripcion,
	   A.Latitud,
       A.Longitud,
	   B.CODIGO,
	   B.DOC_NOMBRE,
	   A.Identificacion,
	     G.PrimerNombre + ' ' + isnull(G.SegundoNombre, '') AS NombreDirector,
	   G.PrimerApellido + ' ' + isnull(G.SedundoApellido, '') AS ApellidoDirector,
	   T.Nombre aS TipoAgrupacion
FROM ART_MUSICA_AGRUPACION A
INNER JOIN BAS_ZONAS_PAISES P ON  A.CodigoPais = P.ZOP_ID
LEFT JOIN BAS_ZONAS_GEOGRAFICAS D ON A.CodigoDepartamento = D.ZON_ID
LEFT JOIN BAS_ZONAS_GEOGRAFICAS M ON A.CodigoMunicipio = M.ZON_ID
INNER JOIN ART_MUSICA_ESTADOS E ON A.EstadoId = E.Id
INNER JOIN ART_MUSICA_TIPO_AGRUPACION T ON A.TipoAgrupacionId = T.Id
INNER JOIN BAS_TIPOS_DOCUMENTOS_IDENTIDAD B ON A.CodTipoDocumento = B.DOC_ID
INNER JOIN ART_MUSICA_AGENTE G ON A.AgenteId = G.ID
WHERE A.ArtMusicaUsuarioId = @UsuarioId

    
END
GO

/* Estado id */

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[ART_MUSICA_AGRUPACION_EstadoId]
	@EstadoId int
AS
BEGIN
	SELECT A.ID as AgrupacionId,
	   A.CodigoDepartamento,
	   A.CodigoMunicipio,
	   A.CodigoPais,
	   A.Telefono,
	   A.TipoAgrupacionId,
	   A.Nombre,
	   A.CorreoElectronico,
	   A.Direccion,
	   A.FechaActualizacion,
	   A.FechaCreacion,
	   A.Imagen,
	   A.LinkPortafolio,
	   P.ZOP_NOMBRE AS Pais,
	   D.ZON_NOMBRE as Departamento,
	   M.ZON_NOMBRE as Municipio,
	   E.Nombre AS Estado, 
	   A.Descripcion,
	   A.Latitud,
       A.Longitud,
	   B.CODIGO,
	   B.DOC_NOMBRE,
	   A.Identificacion,
	   G.PrimerNombre + ' ' + G.SegundoNombre AS NombreDirector,
	   G.PrimerApellido + ' ' + G.SedundoApellido AS ApellidoDirector,
	   T.Nombre aS TipoAgrupacion
FROM ART_MUSICA_AGRUPACION A
INNER JOIN BAS_ZONAS_PAISES P ON  A.CodigoPais = P.ZOP_ID
LEFT JOIN BAS_ZONAS_GEOGRAFICAS D ON A.CodigoDepartamento = D.ZON_ID
LEFT JOIN BAS_ZONAS_GEOGRAFICAS M ON A.CodigoMunicipio = M.ZON_ID
INNER JOIN ART_MUSICA_ESTADOS E ON A.EstadoId = E.Id
INNER JOIN ART_MUSICA_TIPO_AGRUPACION T ON A.TipoAgrupacionId = T.Id
INNER JOIN BAS_TIPOS_DOCUMENTOS_IDENTIDAD B ON A.CodTipoDocumento = B.DOC_ID
INNER JOIN ART_MUSICA_AGENTE G ON A.AgenteId = G.ID
WHERE A.EstadoId = @EstadoId

    
END
GO

/*por municipios*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[ART_MUSICA_AGRUPACION_Municipio]
	@UsuarioId int
AS
BEGIN
	SELECT A.ID as AgrupacionId,
	   A.CodigoDepartamento,
	   A.CodigoMunicipio,
	   A.CodigoPais,
	   A.Telefono,
	   A.TipoAgrupacionId,
	   A.Nombre,
	   A.CorreoElectronico,
	   A.Direccion,
	   A.FechaActualizacion,
	   A.FechaCreacion,
	   A.Imagen,
	   A.LinkPortafolio,
	   P.ZOP_NOMBRE AS Pais,
	   D.ZON_NOMBRE as Departamento,
	   M.ZON_NOMBRE as Municipio,
	   E.Nombre AS Estado, 
	   A.Descripcion,
	   A.Latitud,
       A.Longitud,
	   B.CODIGO,
	   B.DOC_NOMBRE,
	   A.Identificacion,
	   G.PrimerNombre + ' ' + G.SegundoNombre AS NombreDirector,
	   G.PrimerApellido + ' ' + G.SedundoApellido AS ApellidoDirector,
	   T.Nombre aS TipoAgrupacion
FROM ART_MUSICA_AGRUPACION A
INNER JOIN BAS_ZONAS_PAISES P ON  A.CodigoPais = P.ZOP_ID
LEFT JOIN BAS_ZONAS_GEOGRAFICAS D ON A.CodigoDepartamento = D.ZON_ID
LEFT JOIN BAS_ZONAS_GEOGRAFICAS M ON A.CodigoMunicipio = M.ZON_ID
INNER JOIN ART_MUSICA_ESTADOS E ON A.EstadoId = E.Id
INNER JOIN ART_MUSICA_TIPO_AGRUPACION T ON A.TipoAgrupacionId = T.Id
INNER JOIN BAS_TIPOS_DOCUMENTOS_IDENTIDAD B ON A.CodTipoDocumento = B.DOC_ID
INNER JOIN ART_MUSICA_AGENTE G ON A.AgenteId = G.ID
INNER JOIN ART_MUSICA_USER_CIUDAD C ON A.CodigoMunicipio = C.CodMun
WHERE C.IdUser = @UsuarioId

    
END
GO

/****** Object:  StoredProcedure [dbo].[ART_MUSICA_AGENTE_datos_UsuarioId]    Script Date: 15/12/2015 9:41:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Grey Milena Jimenez 
-- Create date: 20/11/2015
-- Description:	Trae los agentes creados por el usuario
-- =============================================
CREATE PROCEDURE [dbo].[ART_MUSICA_AGENTE_Por_AgrupacionId]
	@AgrupacionId int
AS
BEGIN
	SELECT G.ID as AgenteId,
	   A.CodigoDepartamento,
	   A.CodMunicipio,
	   A.CodPais,
	   A.Telefono,
	   A.CodTipoDocumento,
	   A.CorreoElectronico,
	   A.Direccion,
	   A.FechaActualizacion,
	   A.Identificacion,
	   A.Imagen,
	   A.Sexo,
	   A.LinkPortafolio,
	   A.PrimerNombre + ' ' + ISNULL(A.SegundoNombre, '') AS Nombres,
	   A.PrimerApellido + ' ' + ISNULL(A.SedundoApellido, '') AS Apellidos,
	   A.PrimerNombre + ' ' + ISNULL(A.SegundoNombre, '') +' ' +  A.PrimerApellido + ' ' + ISNULL(A.SedundoApellido, '') as NombreCompleto,
	   P.ZOP_NOMBRE AS Pais,
	   D.ZON_NOMBRE as Departamento,
	   M.ZON_NOMBRE as Municipio,
	   E.Nombre AS Estado, 
	   A.Descripcion,
	   T.DOC_NOMBRE AS TipoDocumentoDescripcion
FROM ART_MUSICA_AGENTE A
INNER JOIN BAS_TIPOS_DOCUMENTOS_IDENTIDAD T ON A.CodTipoDocumento = T.DOC_ID
INNER JOIN BAS_ZONAS_PAISES P ON  A.CodPais = P.ZOP_ID
LEFT JOIN BAS_ZONAS_GEOGRAFICAS D ON A.CodigoDepartamento = D.ZON_ID
LEFT JOIN BAS_ZONAS_GEOGRAFICAS M ON A.CodMunicipio = M.ZON_ID
INNER JOIN ART_MUSICA_ESTADOS E ON A.EstadoId = E.Id
INNER JOIN ART_MUSICA_AGENTE_AGRUPACION G ON A.ID = G.AgenteId
WHERE G.AgrupacionId = @AgrupacionId
order by a.PrimerNombre, a.PrimerApellido

   
END
GO