USE [SIPA]
GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_OBTENER_GENEROS_MUSICALES]    Script Date: 01/12/2015 5:58:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Grey Milena Jiménez
-- Create date: 21/11/2015
-- Description:	Obtener los generos musicales
-- =============================================
create PROCEDURE [dbo].[ART_MUSICA_OBTENER_GENEROS_MUSICALES_AGENTEID]
	@AgenteId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    select Nivel4.Id, 
			Nivel1.Nombre + ' - ' + Nivel2.Nombre + ' - ' + Nivel3.Nombre + ' - ' + Nivel4.Nombre as Nombre 
	from ART_MUSICA_GENEROS_MUSICALES as Nivel1
	inner join ART_MUSICA_GENEROS_MUSICALES as Nivel2 On Nivel1.Id = Nivel2.PadreId
	inner join ART_MUSICA_GENEROS_MUSICALES as Nivel3 On Nivel2.Id = Nivel3.PadreId
	inner join ART_MUSICA_GENEROS_MUSICALES as Nivel4 On Nivel3.Id = Nivel4.PadreId
	inner join ART_MUSICA_AGENTE_GENEROS as A On Nivel4.Id = A.GeneroId
	where Nivel1.PadreId is null
	and Nivel1.Nivel = 1
	and Nivel2.Nivel =2
	and Nivel3.Nivel = 3
	and Nivel4.Nivel = 4
	AND A.AgenteId = @AgenteId

END


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Grey Milena Jiménez
-- Create date: 21/11/2015
-- Description:	Obtener los generos musicales
-- =============================================
ALTER PROCEDURE [dbo].[ART_MUSICA_OBTENER_GENEROS_MUSICALES]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    select Nivel4.Id, 
			Nivel1.Nombre + ' - ' + Nivel2.Nombre + ' - ' + Nivel3.Nombre + ' - ' + Nivel4.Nombre as Nombre 
	from ART_MUSICA_GENEROS_MUSICALES as Nivel1
	inner join ART_MUSICA_GENEROS_MUSICALES as Nivel2 On Nivel1.Id = Nivel2.PadreId
	inner join ART_MUSICA_GENEROS_MUSICALES as Nivel3 On Nivel2.Id = Nivel3.PadreId
	inner join ART_MUSICA_GENEROS_MUSICALES as Nivel4 On Nivel3.Id = Nivel4.PadreId
	where Nivel1.PadreId is null
	and Nivel1.Nivel = 1
	and Nivel2.Nivel =2
	and Nivel3.Nivel = 3
	and Nivel4.Nivel = 4

END
