USE [SIPA]
GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_AGENTE_POR_DEPARTAMENTO]    Script Date: 01/12/2015 12:49:13 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Grey Milena Jimenez 
-- Create date: 20/11/2015
-- Description:	Trae los agentes creados por el usuario
-- =============================================
create PROCEDURE [dbo].[ART_MUSICA_AGENTE_POR_DEPARTAMENTO]
	@UsuarioId int
AS
BEGIN
	SELECT A.ID as AgenteId,
	   A.CodigoDepartamento,
	   A.CodMunicipio,
	   A.CodPais,
	   A.Telefono,
	   A.CodTipoDocumento,
	   A.CorreoElectronico,
	   A.Direccion,
	   A.FechaActualizacion,
	   A.Identificacion,
	   A.Imagen,
	   A.Sexo,
	   A.LinkPortafolio,
	   A.PrimerNombre + ' ' + ISNULL(A.SegundoNombre, '') AS Nombres,
	   A.PrimerApellido + ' ' + ISNULL(A.SedundoApellido, '') AS Apellidos,
	   A.PrimerNombre + ' ' + ISNULL(A.SegundoNombre, '') +  A.PrimerApellido + ' ' + ISNULL(A.SedundoApellido, '') as NombreCompleto,
	   P.ZOP_NOMBRE AS Pais,
	   D.ZON_NOMBRE as Departamento,
	   M.ZON_NOMBRE as Municipio,
	   E.Nombre AS Estado, 
	   A.Descripcion,
	   T.DOC_NOMBRE AS TipoDocumentoDescripcion
FROM ART_MUSICA_AGENTE A
INNER JOIN BAS_TIPOS_DOCUMENTOS_IDENTIDAD T ON A.CodTipoDocumento = T.DOC_ID
INNER JOIN BAS_ZONAS_PAISES P ON  A.CodPais = P.ZOP_ID
LEFT JOIN BAS_ZONAS_GEOGRAFICAS D ON A.CodigoDepartamento = D.ZON_ID
LEFT JOIN BAS_ZONAS_GEOGRAFICAS M ON A.CodMunicipio = M.ZON_ID
INNER JOIN ART_MUSICA_ESTADOS E ON A.EstadoId = E.Id
INNER JOIN ART_MUSICA_USER_CIUDAD C ON A.CodMunicipio = C.CodMun
WHERE C.IdUser = @UsuarioId
order by a.PrimerNombre, a.PrimerApellido

   
END



GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_ENTIDADES_Id]    Script Date: 01/12/2015 5:06:51 p. m. ******/

GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_ENTIDADES_Todos]    Script Date: 04/12/2015 1:16:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Grey Milena Jimenez 
-- Create date: 20/11/2015
-- Description:	Todas las entidades de música
-- =============================================
CREATE PROCEDURE [dbo].[ART_MUSICA_ENTIDADES_Todos]

AS
BEGIN
	SELECT A.ID as EntidadId,
	   A.CodigoDepartamento,
	   A.CodigoMunicipio,
	   A.CodigoPais,
	   A.Telefono,
	   A.Nit,
	   A.DigitoVerificacion,
	   A.Nombre,
	   A.CorreoElectronico,
	   A.Direccion,
	   A.FechaActualizacion,
	   A.FechaCreacion,
	   A.Imagen,
	   A.LinkPortafolio,
	   P.ZOP_NOMBRE AS Pais,
	   D.ZON_NOMBRE as Departamento,
	   M.ZON_NOMBRE as Municipio,
	   E.Nombre AS Estado, 
	   A.Descripcion,
	   A.Latitud,
	   A.Longitud,
	   A.Naturaleza
FROM ART_MUSICA_ENTIDADES A
INNER JOIN BAS_ZONAS_PAISES P ON  A.CodigoPais = P.ZOP_ID
LEFT JOIN BAS_ZONAS_GEOGRAFICAS D ON A.CodigoDepartamento = D.ZON_ID
LEFT JOIN BAS_ZONAS_GEOGRAFICAS M ON A.CodigoMunicipio = M.ZON_ID
INNER JOIN ART_MUSICA_ESTADOS E ON A.EstadoId = E.Id
order by A.Nombre

    
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ART_MUSICA_ENTIDADES_POR_USUARIOID]
	@UsuarioId int
AS
BEGIN
	SELECT A.ID as EntidadId,
	   A.CodigoDepartamento,
	   A.CodigoMunicipio,
	   A.CodigoPais,
	   A.Telefono,
	   A.Nit,
	   A.DigitoVerificacion,
	   A.Nombre,
	   A.CorreoElectronico,
	   A.Direccion,
	   A.FechaActualizacion,
	   A.FechaCreacion,
	   A.Imagen,
	   A.LinkPortafolio,
	   P.ZOP_NOMBRE AS Pais,
	   D.ZON_NOMBRE as Departamento,
	   M.ZON_NOMBRE as Municipio,
	   E.Nombre AS Estado, 
	   A.Descripcion,
	   A.Latitud,
	   A.Longitud,
	   A.Naturaleza
FROM ART_MUSICA_ENTIDADES A
INNER JOIN BAS_ZONAS_PAISES P ON  A.CodigoPais = P.ZOP_ID
LEFT JOIN BAS_ZONAS_GEOGRAFICAS D ON A.CodigoDepartamento = D.ZON_ID
LEFT JOIN BAS_ZONAS_GEOGRAFICAS M ON A.CodigoMunicipio = M.ZON_ID
INNER JOIN ART_MUSICA_ESTADOS E ON A.EstadoId = E.Id
WHERE A.ArtMusicaUsuarioId = @UsuarioId
ORDER BY A.Nombre
    
END

 /* por estado Id*/
 SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ART_MUSICA_ENTIDADES_POR_ESTADOID]
	@estadoId int
AS
BEGIN
	SELECT A.ID as EntidadId,
	   A.CodigoDepartamento,
	   A.CodigoMunicipio,
	   A.CodigoPais,
	   A.Telefono,
	   A.Nit,
	   A.DigitoVerificacion,
	   A.Nombre,
	   A.CorreoElectronico,
	   A.Direccion,
	   A.FechaActualizacion,
	   A.FechaCreacion,
	   A.Imagen,
	   A.LinkPortafolio,
	   P.ZOP_NOMBRE AS Pais,
	   D.ZON_NOMBRE as Departamento,
	   M.ZON_NOMBRE as Municipio,
	   E.Nombre AS Estado, 
	   A.Descripcion,
	   A.Latitud,
	   A.Longitud,
	   A.Naturaleza 
FROM ART_MUSICA_ENTIDADES A
INNER JOIN BAS_ZONAS_PAISES P ON  A.CodigoPais = P.ZOP_ID
LEFT JOIN BAS_ZONAS_GEOGRAFICAS D ON A.CodigoDepartamento = D.ZON_ID
LEFT JOIN BAS_ZONAS_GEOGRAFICAS M ON A.CodigoMunicipio = M.ZON_ID
INNER JOIN ART_MUSICA_ESTADOS E ON A.EstadoId = E.Id
WHERE A.EstadoId = @estadoId
ORDER BY A.Nombre
    
END


/* por departamento*/


GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_ENTIDADES_POR_DEPARTAMENTO]    Script Date: 04/12/2015 1:14:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ART_MUSICA_ENTIDADES_POR_DEPARTAMENTO]
	@UsuarioId int
AS
BEGIN
	SELECT A.ID as EntidadId,
	   A.CodigoDepartamento,
	   A.CodigoMunicipio,
	   A.CodigoPais,
	   A.Telefono,
	   A.Nit,
	   A.DigitoVerificacion,
	   A.Nombre,
	   A.CorreoElectronico,
	   A.Direccion,
	   A.FechaActualizacion,
	   A.FechaCreacion,
	   A.Imagen,
	   A.LinkPortafolio,
	   P.ZOP_NOMBRE AS Pais,
	   D.ZON_NOMBRE as Departamento,
	   M.ZON_NOMBRE as Municipio,
	   E.Nombre AS Estado, 
	   A.Descripcion,
	   A.Latitud,
	   A.Longitud,
	   A.Naturaleza
FROM ART_MUSICA_ENTIDADES A
INNER JOIN BAS_ZONAS_PAISES P ON  A.CodigoPais = P.ZOP_ID
LEFT JOIN BAS_ZONAS_GEOGRAFICAS D ON A.CodigoDepartamento = D.ZON_ID
LEFT JOIN BAS_ZONAS_GEOGRAFICAS M ON A.CodigoMunicipio = M.ZON_ID
INNER JOIN ART_MUSICA_ESTADOS E ON A.EstadoId = E.Id
INNER JOIN ART_MUSICA_USER_CIUDAD C ON A.CodigoMunicipio = C.CodMun
WHERE C.IdUser = @UsuarioId
    
END
 /* POR id*/
 SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ART_MUSICA_ENTIDADES_Id]
	@EntidadId int
AS
BEGIN
	SELECT A.ID as EntidadId,
	   A.CodigoDepartamento,
	   A.CodigoMunicipio,
	   A.CodigoPais,
	   A.Telefono,
	   A.Nit,
	   A.DigitoVerificacion,
	   A.Nombre,
	   A.CorreoElectronico,
	   A.Direccion,
	   A.FechaActualizacion,
	   A.FechaCreacion,
	   A.Imagen,
	   A.LinkPortafolio,
	   P.ZOP_NOMBRE AS Pais,
	   D.ZON_NOMBRE as Departamento,
	   M.ZON_NOMBRE as Municipio,
	   E.Nombre AS Estado, 
	   A.Descripcion,
	   A.Latitud,
       A.Longitud,
	   A.Naturaleza
FROM ART_MUSICA_ENTIDADES A
INNER JOIN BAS_ZONAS_PAISES P ON  A.CodigoPais = P.ZOP_ID
LEFT JOIN BAS_ZONAS_GEOGRAFICAS D ON A.CodigoDepartamento = D.ZON_ID
LEFT JOIN BAS_ZONAS_GEOGRAFICAS M ON A.CodigoMunicipio = M.ZON_ID
INNER JOIN ART_MUSICA_ESTADOS E ON A.EstadoId = E.Id
WHERE A.ID = @EntidadId

    
END
