<main class="text-white">
  <div class="container mx-auto px-4 py-32 text-center">
    <h1 class="text-6xl font-extrabold text-white leading-tight">
      El ecosistema de la música en
      <span class="text-cultura-amarillo">un solo lugar</span>
    </h1>
    <p class="text-xl mt-6 text-cultura-azul max-w-3xl mx-auto">
      Explora, conecta y participa en la red de actores, eventos y oportunidades del sector musical de Colombia.
    </p>
    <div class="mt-12">
      <a href="#" class="bg-cultura-amarillo text-cultura-violeta font-bold py-4 px-8 rounded-full hover:bg-yellow-300 transition-colors duration-300 text-lg shadow-lg">Empieza a explorar</a>
    </div>
  </div>
</main>
