@using MvcCheckBoxList.Model
@model WebSImus.Models.FormacionPractica

<div class="panel panel-default">
    <div class="panel-heading">
        <h3><span class="fa-formacion fa-2x"></span> Prácticas Musicales</h3>
    </div>
    



    

   

</div>