@{
   
    Layout = "~/Views/Shared/_LayoutConsulta.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-1 col-sm-6 col-xs-6"><img style="padding-top:10px;" src="../img/iconos/mapas_big.png"></div>
        <div class="titulo_seccion col-md-11 col-sm-6 col-xs-6">Consulta</div>
    </div>
</div>

<div class="row">
    <div class="subtitulo_seccion col-md-6 col-sm-12 col-xs-12 "><span class="fa-escuelas fa-lg" style="text-align: left; padding: 5px;"></span>Escuelas de música</div>
</div>

<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <div id="Tabla">
                @Html.Action("GridViewPartialEscuelas")
            </div>
        </div>
    </div>
</div>
    @section Scripts {
        <script src="@Url.Content("~/Scripts/globalize/globalize.js")"></script>
        <script src="@Url.Content("~/Scripts/dx.webappjs.js")"></script>

    }


