<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <div class="row">
        <div class="row">
            <div class="col-md-12" style="margin-top:20px;">
                <div class="col-md-8 col-sm-8 col-xs-8 casilla_amarilla"><span class="">CALDAS - MANIZALES</span></div>
                <div class="col-md-4 col-sm-4 col-xs-4 casilla_azul">07:00 pm	</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top:10px;">
                <div class="col-md-8 col-sm-8 col-xs-8 casilla_amarilla"><span class="">ANTIOQUIA - URRAO</span></div>
                <div class="col-md-4 col-sm-4 col-xs-4 casilla_azul">11:00am	</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top:10px;">
                <div class="col-md-8 col-sm-8 col-xs-8 casilla_amarilla"><span class="">ANTIOQUIA - SAN PEDRO DE LOS MILAGROS</span></div>
                <div class="col-md-4 col-sm-4 col-xs-4 casilla_azul">12:00pm	</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top:10px;">
                <div class="col-md-8 col-sm-8 col-xs-8 casilla_amarilla"><span class="">ANTIOQUIA - MEDELLÍN</span></div>
                <div class="col-md-4 col-sm-4 col-xs-4 casilla_azul">8:00pm	</div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6 col-sm-6 col-xs-6"></div>
            <div class="col-md-5 col-sm-5 col-xs-5">	 <br><span style="font-style:italic; font-size: 13px; float: right;">Ver conciertos</span></br></div><div class="col-md-1 col-sm-1 col-xs-1" style="margin-top: 15px;">	<img src="../iconos/mas_azul.png" alt=""/></div>




        </div>
    </div>
</body>
</html>
