USE [SIPA]
GO
/****** Object:  StoredProcedure [dbo].[ART_ME_ART_MUSICA_ENT_INFR_NIVEL_FUENTES_DOTACION_ObtenerPorENT_ID]    Script Date: 10/09/2015 10:10:05 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ART_ME_ART_MUSICA_ENT_INFR_NIVELFUENTESDOTACION_ObtenerPorENT_ID] (
	@ENT_ID numeric(18, 0)
)
AS

SET NOCOUNT ON

SELECT
	[ENT_ID],
	[ART_MUSICA_ENT_INFR_NIVEL_FUENTES_DOTACION].[ART_MUS_NIV_FUEN_DOT_ID],
	A.ART_MUS_NIV_FUE_DOT_DESCRIPCION
FROM
	[ART_MUSICA_ENT_INFR_NIVEL_FUENTES_DOTACION]
	INNER JOIN [ART_MUSICA_NIVEL_FUENTES_DOTACION] A ON [ART_MUSICA_ENT_INFR_NIVEL_FUENTES_DOTACION].[ART_MUS_NIV_FUEN_DOT_ID] = A.ART_MUS_NIV_FUEN_DOT_ID
WHERE
	[ENT_ID] = @ENT_ID
