USE [SIPA]
GO
/****** Object:  StoredProcedure [dbo].[ART_ME_ART_ME_ESCUELA_SOLUCIONES_ACUSTICAS_ObtenerPorId]    Script Date: 10/09/2015 10:27:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ART_ME_ART_MUSICA_SOLUCIONESACUSTICAS_ObtenerPorId] (
	@ENT_ID decimal(18, 0)
)
AS

SET NOCOUNT ON

SELECT
	[ENT_ID],
	[ART_ME_ESCUELA_SOLUCIONES_ACUSTICAS].[SAC_ID],
	S.SAC_DESCRIPCION
FROM
	[ART_ME_ESCUELA_SOLUCIONES_ACUSTICAS]
	INNER JOIN [ART_ME_SOLUCIONES_ACUSTICAS] S ON [ART_ME_ESCUELA_SOLUCIONES_ACUSTICAS].[SAC_ID] = S.SAC_ID
WHERE
	[ENT_ID] = @ENT_ID
