USE [SIPA]
GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_REPORTE_ESC_OTRA_ENT]    Script Date: 21/12/2015 3:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ART_MUSICA_REPORTE_ESC_OTRA_ENT] AS

SET NOCOUNT ON

Select CAST(DPTO.ZON_ID AS VARCHAR) AS Id, DPTO.ZON_NOMBRE as Nombre, (COUNT(*)  ) as Value from 
ART_ENTIDADES_ARTES E,
ART_ENTIDAD_UBICACION  U,	
BAS_ZONAS_GEOGRAFICAS Z,
BAS_ZONAS_GEOGRAFICAS DPTO, ART_ENTIDAD_NATURALEZA_JURIDICA  EP
where E.ent_tipo = 'E' AND E.ENT_ID=U.ENT_ID
AND E.ENT_ESTADO = 'E' AND DPTO.ZON_ID=Z.ZON_PADRE_ID 
AND U.ZON_ID = Z.ZON_ID  AND E.ENT_ID=EP.ENT_ID AND EP.ENT_SINO_ENTIDAD='S'
GROUP BY DPTO.ZON_ID,DPTO.ZON_NOMBRE
GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_REPORTE_ESCUELA_AREA]    Script Date: 21/12/2015 3:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[ART_MUSICA_REPORTE_ESCUELA_AREA] AS

SET NOCOUNT ON
SELECT NULL AS Id, 'Rural' as Nombre,sum(ENT_CANTIDAD_ALUMNOS_RURAL) as Value
  FROM  ART_ENTIDADES_ARTES E LEFT JOIN  
  ART_MUSICA_ENTIDAD_PARTICIPACION P ON E.ENT_ID=P.ENT_ID
 WHERE  E.ent_tipo = 'E' AND E.ENT_ESTADO = 'E' 
 union
 SELECT NULL AS Id, 'Urbana' as Nombre,sum(ENT_CANTIDAD_ALUMNOS_URBANA) as Value
  FROM  ART_ENTIDADES_ARTES E LEFT JOIN  
  ART_MUSICA_ENTIDAD_PARTICIPACION P ON E.ENT_ID=P.ENT_ID
 WHERE  E.ent_tipo = 'E' AND E.ENT_ESTADO = 'E' 
	
GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_REPORTE_ESCUELA_AREA_DPTO]    Script Date: 21/12/2015 3:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[ART_MUSICA_REPORTE_ESCUELA_AREA_DPTO] AS

SET NOCOUNT ON
SELECT  DPTO.ZON_ID AS Id,  
isnull(DPTO.ZON_NOMBRE,'No registra') as departamento,'Rural'as criterio6,
CAST(sum(ISNULL(p.ENT_CANTIDAD_ALUMNOS_RURAL,0)) AS VARCHAR) as criterio7,
'0' as criterio12,
'0' as criterio19,
'0' as criterio26
  FROM  ART_ENTIDADES_ARTES E LEFT JOIN  
  ART_MUSICA_ENTIDAD_PARTICIPACION P ON E.ENT_ID=P.ENT_ID
  LEFT JOIN ART_ENTIDAD_UBICACION U ON E.ENT_ID=U.ENT_ID
  LEFT JOIN BAS_ZONAS_GEOGRAFICAS Z ON ( Z.ZON_ID =U.ZON_ID)
  LEFT JOIN BAS_ZONAS_GEOGRAFICAS DPTO ON(DPTO.ZON_ID=Z.ZON_PADRE_ID )
 WHERE  E.ent_tipo = 'E' AND E.ENT_ESTADO = 'E' 
  group by DPTO.ZON_ID,DPTO.ZON_NOMBRE
 union
 SELECT  DPTO.ZON_ID AS Id, isnull(DPTO.ZON_NOMBRE,'No registra') as departamento,'Urbana'as criterio6,
 CAST(sum(ISNULL(ENT_CANTIDAD_ALUMNOS_URBANA,0)) AS VARCHAR) as criterio7,
'0' as criterio12,
'0' as criterio19,
'0' as criterio26
  FROM  ART_ENTIDADES_ARTES E LEFT JOIN  
  ART_MUSICA_ENTIDAD_PARTICIPACION P ON E.ENT_ID=P.ENT_ID
  LEFT JOIN ART_ENTIDAD_UBICACION U ON E.ENT_ID=U.ENT_ID
  LEFT JOIN BAS_ZONAS_GEOGRAFICAS Z ON ( Z.ZON_ID =U.ZON_ID)
  LEFT JOIN BAS_ZONAS_GEOGRAFICAS DPTO ON(DPTO.ZON_ID=Z.ZON_PADRE_ID )
 WHERE  E.ent_tipo = 'E' AND E.ENT_ESTADO = 'E' 
 group by DPTO.ZON_ID,DPTO.ZON_NOMBRE
	
GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_REPORTE_ESCUELA_CONDIESPEC]    Script Date: 21/12/2015 3:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE pROCEDURE [dbo].[ART_MUSICA_REPORTE_ESCUELA_CONDIESPEC] AS

SET NOCOUNT ON


 SELECT '1' AS Id, 'Discapacitados' as Nombre,sum(ENT_CANTIDAD_ALUMNOS_DISCAPACITADOS) as Value
  FROM  ART_ENTIDADES_ARTES E LEFT JOIN  
  ART_MUSICA_ENTIDAD_PARTICIPACION P ON E.ENT_ID=P.ENT_ID
 WHERE  E.ent_tipo = 'E' AND E.ENT_ESTADO = 'E' 
 union
 SELECT '2' AS Id, 'Desplazados' as Nombre,sum(ENT_CANTIDAD_ALUMNOS_DESPLAZADOS) as Value
  FROM  ART_ENTIDADES_ARTES E LEFT JOIN  
  ART_MUSICA_ENTIDAD_PARTICIPACION P ON E.ENT_ID=P.ENT_ID
 WHERE  E.ent_tipo = 'E' AND E.ENT_ESTADO = 'E' 
  union
 SELECT '3' AS Id, 'Red unidos' as Nombre,sum(isnull(ENT_CANTIDAD_ALUMNOS_REDUNIDOS,0)) as Value
  FROM  ART_ENTIDADES_ARTES E LEFT JOIN  
  ART_MUSICA_ENTIDAD_PARTICIPACION P ON E.ENT_ID=P.ENT_ID
 WHERE  E.ent_tipo = 'E' AND E.ENT_ESTADO = 'E' 
 
GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_REPORTE_ESCUELA_CONDIESPEC_DPTO]    Script Date: 21/12/2015 3:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE pROCEDURE [dbo].[ART_MUSICA_REPORTE_ESCUELA_CONDIESPEC_DPTO] AS

SET NOCOUNT ON


  
 SELECT  DPTO.ZON_ID AS Id,  
isnull(DPTO.ZON_NOMBRE,'No registra') as departamento,'Discapacitados'as criterio6,
 CAST(sum(ISNULL(p.ENT_CANTIDAD_ALUMNOS_DISCAPACITADOS,0)) AS VARCHAR) as criterio7,
'0' as criterio12,
'0' as criterio19,
'0' as criterio26
 FROM  ART_ENTIDADES_ARTES E LEFT JOIN  
  ART_MUSICA_ENTIDAD_PARTICIPACION P ON E.ENT_ID=P.ENT_ID
  LEFT JOIN ART_ENTIDAD_UBICACION U ON E.ENT_ID=U.ENT_ID
  LEFT JOIN BAS_ZONAS_GEOGRAFICAS Z ON ( Z.ZON_ID =U.ZON_ID)
  LEFT JOIN BAS_ZONAS_GEOGRAFICAS DPTO ON(DPTO.ZON_ID=Z.ZON_PADRE_ID )
 WHERE  E.ent_tipo = 'E' AND E.ENT_ESTADO = 'E' 
 group by DPTO.ZON_ID,DPTO.ZON_NOMBRE
 union
 
  SELECT  DPTO.ZON_ID AS Id,  
isnull(DPTO.ZON_NOMBRE,'No registra') as departamento,'Desplazados'as criterio6,
 CAST(sum(ISNULL(p.ENT_CANTIDAD_ALUMNOS_DESPLAZADOS,0)) AS VARCHAR) as criterio7,
'0' as criterio12,
'0' as criterio19,
'0' as criterio26 
  FROM  ART_ENTIDADES_ARTES E LEFT JOIN  
  ART_MUSICA_ENTIDAD_PARTICIPACION P ON E.ENT_ID=P.ENT_ID
  LEFT JOIN ART_ENTIDAD_UBICACION U ON E.ENT_ID=U.ENT_ID
  LEFT JOIN BAS_ZONAS_GEOGRAFICAS Z ON ( Z.ZON_ID =U.ZON_ID)
  LEFT JOIN BAS_ZONAS_GEOGRAFICAS DPTO ON(DPTO.ZON_ID=Z.ZON_PADRE_ID )
 WHERE  E.ent_tipo = 'E' AND E.ENT_ESTADO = 'E' 
 group by DPTO.ZON_ID,DPTO.ZON_NOMBRE
  union
 
 
  
  SELECT  DPTO.ZON_ID AS Id,  
isnull(DPTO.ZON_NOMBRE,'No registra') as departamento,'Red unidos'as criterio6,
 CAST(sum(ISNULL(p.ENT_CANTIDAD_ALUMNOS_REDUNIDOS,0)) AS VARCHAR) as criterio7,
'0' as criterio12,
'0' as criterio19,
'0' as criterio26 
   FROM  ART_ENTIDADES_ARTES E LEFT JOIN  
  ART_MUSICA_ENTIDAD_PARTICIPACION P ON E.ENT_ID=P.ENT_ID
  LEFT JOIN ART_ENTIDAD_UBICACION U ON E.ENT_ID=U.ENT_ID
  LEFT JOIN BAS_ZONAS_GEOGRAFICAS Z ON ( Z.ZON_ID =U.ZON_ID)
  LEFT JOIN BAS_ZONAS_GEOGRAFICAS DPTO ON(DPTO.ZON_ID=Z.ZON_PADRE_ID )
 WHERE  E.ent_tipo = 'E' AND E.ENT_ESTADO = 'E' 
 group by DPTO.ZON_ID,DPTO.ZON_NOMBRE
 
GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_REPORTE_ESCUELA_CONSOLIDACION]    Script Date: 21/12/2015 3:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ART_MUSICA_REPORTE_ESCUELA_CONSOLIDACION] AS

SET NOCOUNT ON
select cast(ac.ID_CATEGORIA as varchar) as Id,ac.DESCRIPCION_CATEGORIA as Nombre, COUNT(*) AS Value from ART_MUSICA_CATEGORIA_ESCUELA ac, 
             ART_MUSICA_ENTIDAD_CATEGORIZACION ae,
			 ART_ENTIDADES_ARTES E 
where ac.ID_CATEGORIA=ae.ID_CATEGORIA and ae.ENT_ID=E.ENT_ID AND E.ent_tipo = 'E' AND  E.ENT_ESTADO = 'E'
GROUP BY ac.ID_CATEGORIA,ac.DESCRIPCION_CATEGORIA
GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_REPORTE_ESCUELA_CONSOLIDACION_DPTO]    Script Date: 21/12/2015 3:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ART_MUSICA_REPORTE_ESCUELA_CONSOLIDACION_DPTO] AS

SET NOCOUNT ON
 select  CAST(ac.ID_CATEGORIA as varchar) as Id,
	         DPTO.ZON_NOMBRE as departamento,
	         ac.DESCRIPCION_CATEGORIA as criterio6,
			 CAST( COUNT(*) AS VARCHAR) AS criterio7, '' AS criterio12,'' AS criterio19 ,'' AS criterio26 from ART_MUSICA_CATEGORIA_ESCUELA ac, 
             ART_MUSICA_ENTIDAD_CATEGORIZACION ae,
			 ART_ENTIDADES_ARTES E ,
			 ART_ENTIDAD_UBICACION  U,
			 BAS_ZONAS_GEOGRAFICAS Z,
             BAS_ZONAS_GEOGRAFICAS DPTO
where ac.ID_CATEGORIA=ae.ID_CATEGORIA 
        AND E.ENT_ID=U.ENT_ID
		AND ae.ENT_ID=E.ENT_ID 
		AND E.ent_tipo = 'E' 
		AND  E.ENT_ESTADO = 'E'
		AND DPTO.ZON_ID=Z.ZON_PADRE_ID AND Z.ZON_ID =U.ZON_ID
		GROUP BY ac.ID_CATEGORIA,DPTO.ZON_NOMBRE,ac.DESCRIPCION_CATEGORIA
		order by DPTO.ZON_NOMBRE
GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_REPORTE_ESCUELA_DPTO]    Script Date: 21/12/2015 3:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ART_MUSICA_REPORTE_ESCUELA_DPTO] AS

SET NOCOUNT ON
select DPTO.ZON_ID AS Id, DPTO.ZON_NOMBRE as Nombre, COUNT(*) as Value from 
ART_ENTIDADES_ARTES E,
ART_ENTIDAD_UBICACION  U, 
BAS_ZONAS_GEOGRAFICAS Z,
BAS_ZONAS_GEOGRAFICAS DPTO
where E.ent_tipo = 'E' AND E.ENT_ID=U.ENT_ID
AND E.ENT_ESTADO = 'E' AND DPTO.ZON_ID=Z.ZON_PADRE_ID
AND U.ZON_ID = Z.ZON_ID 
GROUP BY DPTO.ZON_ID,DPTO.ZON_NOMBRE

GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_REPORTE_ESCUELA_EDADES]    Script Date: 21/12/2015 3:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ART_MUSICA_REPORTE_ESCUELA_EDADES] AS

SET NOCOUNT ON
SELECT NULL AS Id, 'Menor de 6 años' as Nombre,sum(ENT_CANTIDAD_ALUMNOS_MENOR_6) as Value
  FROM  ART_ENTIDADES_ARTES E LEFT JOIN  
  ART_MUSICA_ENTIDAD_PARTICIPACION P ON E.ENT_ID=P.ENT_ID
 WHERE  E.ent_tipo = 'E' AND E.ENT_ESTADO = 'E' 
 union
 SELECT NULL AS Id, 'Entre 7 y 11 años' as Nombre,sum(ENT_CANTIDAD_ALUMNOS_ENTRE_7_11) as Value
  FROM  ART_ENTIDADES_ARTES E LEFT JOIN  
  ART_MUSICA_ENTIDAD_PARTICIPACION P ON E.ENT_ID=P.ENT_ID
 WHERE  E.ent_tipo = 'E' AND E.ENT_ESTADO = 'E' 
 union
 SELECT NULL AS Id, 'Entre 12 y 18 años' as Nombre,sum(ENT_CANTIDAD_ALUMNOS_ENTRE_12_18) as Value
  FROM  ART_ENTIDADES_ARTES E LEFT JOIN  
  ART_MUSICA_ENTIDAD_PARTICIPACION P ON E.ENT_ID=P.ENT_ID
 WHERE  E.ent_tipo = 'E' AND E.ENT_ESTADO = 'E' 
 union
 SELECT NULL AS Id, 'Entre 19 y 25 años' as Nombre,sum(ENT_CANTIDAD_ALUMNOS_ENTRE_19_25) as Value
  FROM  ART_ENTIDADES_ARTES E LEFT JOIN  
  ART_MUSICA_ENTIDAD_PARTICIPACION P ON E.ENT_ID=P.ENT_ID
 WHERE  E.ent_tipo = 'E' AND E.ENT_ESTADO = 'E' 
  union
 SELECT NULL AS Id, 'Mayor a 26 años' as Nombre,sum(ENT_CANTIDAD_ALUMNOS_MAYOR_26) as Value
  FROM  ART_ENTIDADES_ARTES E LEFT JOIN  
  ART_MUSICA_ENTIDAD_PARTICIPACION P ON E.ENT_ID=P.ENT_ID
 WHERE  E.ent_tipo = 'E' AND E.ENT_ESTADO = 'E' 
 
 
GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_REPORTE_ESCUELA_EDADES_DPTO]    Script Date: 21/12/2015 3:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ART_MUSICA_REPORTE_ESCUELA_EDADES_DPTO] AS

SET NOCOUNT ON
SELECT DPTO.ZON_ID AS Id, isnull(DPTO.ZON_NOMBRE,'No registra') as departamento,cast(SUM(isnull(ENT_CANTIDAD_ALUMNOS_MENOR_6,0))as varchar) as criterio6,
cast(SUM(isnull(ENT_CANTIDAD_ALUMNOS_ENTRE_7_11,0) )as varchar) as criterio7,
cast(sum(isnull(ENT_CANTIDAD_ALUMNOS_ENTRE_12_18,0))as varchar) as criterio12,
cast(sum(isnull(ENT_CANTIDAD_ALUMNOS_ENTRE_19_25,0))as varchar) as criterio19,
cast(sum(isnull(ENT_CANTIDAD_ALUMNOS_MAYOR_26,0))as varchar) as criterio26
  FROM  ART_ENTIDADES_ARTES E LEFT JOIN  
  ART_MUSICA_ENTIDAD_PARTICIPACION P ON E.ENT_ID=P.ENT_ID
   LEFT JOIN ART_ENTIDAD_UBICACION U ON E.ENT_ID=U.ENT_ID
  LEFT JOIN BAS_ZONAS_GEOGRAFICAS Z ON ( Z.ZON_ID =U.ZON_ID)
  LEFT JOIN BAS_ZONAS_GEOGRAFICAS DPTO ON(DPTO.ZON_ID=Z.ZON_PADRE_ID )
  WHERE  E.ent_tipo = 'E' AND E.ENT_ESTADO = 'E'
    GROUP BY DPTO.ZON_ID,DPTO.ZON_NOMBRE
	order by 1 desc
GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_REPORTE_ESCUELA_ENTIA]    Script Date: 21/12/2015 3:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ART_MUSICA_REPORTE_ESCUELA_ENTIA] AS

SET NOCOUNT ON

SELECT NULL AS Id, 'Indigenas' as Nombre,sum(ENT_CANTIDAD_ALUMNOS_INDIGENAS) as Value
  FROM  ART_ENTIDADES_ARTES E LEFT JOIN  
  ART_MUSICA_ENTIDAD_PARTICIPACION P ON E.ENT_ID=P.ENT_ID
 WHERE  E.ent_tipo = 'E' AND E.ENT_ESTADO = 'E' 


 union
 SELECT NULL AS Id, 'Raizales' as Nombre,sum(ENT_CANTIDAD_ALUMNOS_RAIZALES) as Value
  FROM  ART_ENTIDADES_ARTES E LEFT JOIN  
  ART_MUSICA_ENTIDAD_PARTICIPACION P ON E.ENT_ID=P.ENT_ID
 WHERE  E.ent_tipo = 'E' AND E.ENT_ESTADO = 'E' 
 union
 SELECT NULL AS Id, 'Rom' as Nombre,sum(ENT_CANTIDAD_ALUMNOS_ROM) as Value
  FROM  ART_ENTIDADES_ARTES E LEFT JOIN  
  ART_MUSICA_ENTIDAD_PARTICIPACION P ON E.ENT_ID=P.ENT_ID
 WHERE  E.ent_tipo = 'E' AND E.ENT_ESTADO = 'E' 
 union
 SELECT NULL AS Id, 'Afrocolombianos' as Nombre,sum(ENT_CANTIDAD_ALUMNOS_AFRO) as Value
  FROM  ART_ENTIDADES_ARTES E LEFT JOIN  
  ART_MUSICA_ENTIDAD_PARTICIPACION P ON E.ENT_ID=P.ENT_ID
 WHERE  E.ent_tipo = 'E' AND E.ENT_ESTADO = 'E' 
  union
 SELECT NULL AS Id, 'Otros' as Nombre,sum(ENT_CANTIDAD_ALUMNOS_OTROS) as Value
  FROM  ART_ENTIDADES_ARTES E LEFT JOIN  
  ART_MUSICA_ENTIDAD_PARTICIPACION P ON E.ENT_ID=P.ENT_ID
 WHERE  E.ent_tipo = 'E' AND E.ENT_ESTADO = 'E' 
GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_REPORTE_ESCUELA_PRAC_MUSICA]    Script Date: 21/12/2015 3:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[ART_MUSICA_REPORTE_ESCUELA_PRAC_MUSICA] AS

SET NOCOUNT ON
  SELECT convert(varchar,M.ART_MUS_PRAC_MUS_ID) AS Id, isnull(M.ART_MUS_PRAC_MUS_DESCRIPCION,'No definida') as Nombre,COUNT(*) as Value
  FROM ART_ENTIDADES_ARTES E
  INNER JOIN ART_MUSICA_PRAC_MUS_ENT_FORMACION F ON E.ENT_ID = F.ENT_ID
  INNER JOIN ART_MUSICA_PRACTICA_MUSICAL M ON F.ART_MUS_PRAC_MUS_ID = M.ART_MUS_PRAC_MUS_ID
  where E.ent_tipo = 'E'
AND E.ENT_ESTADO = 'E'
  GROUP BY M.ART_MUS_PRAC_MUS_ID, M.ART_MUS_PRAC_MUS_DESCRIPCION
GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_REPORTE_ESCUELA_PRAC_MUSICA_DPTO]    Script Date: 21/12/2015 3:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[ART_MUSICA_REPORTE_ESCUELA_PRAC_MUSICA_DPTO] AS

SET NOCOUNT ON


SELECT DPTO.ZON_ID AS Id, isnull(DPTO.ZON_NOMBRE,'No registra') as departamento,isnull(M.ART_MUS_PRAC_MUS_DESCRIPCION,'No definida') as criterio6,
CAST(COUNT(*) AS VARCHAR) as criterio7,
'0' AS criterio12,
'0' AS criterio19,
'0' AS criterio26
  FROM  ART_ENTIDADES_ARTES E 
  INNER JOIN  
  ART_MUSICA_PRAC_MUS_ENT_FORMACION P ON E.ENT_ID=P.ENT_ID
  INNER JOIN ART_MUSICA_PRACTICA_MUSICAL M ON P.ART_MUS_PRAC_MUS_ID = M.ART_MUS_PRAC_MUS_ID
  LEFT JOIN ART_ENTIDAD_UBICACION U ON E.ENT_ID=U.ENT_ID
  LEFT JOIN BAS_ZONAS_GEOGRAFICAS Z ON ( Z.ZON_ID =U.ZON_ID)
  LEFT JOIN BAS_ZONAS_GEOGRAFICAS DPTO ON(DPTO.ZON_ID=Z.ZON_PADRE_ID )
  WHERE  E.ent_tipo = 'E' AND E.ENT_ESTADO = 'E'
  GROUP BY DPTO.ZON_ID,DPTO.ZON_NOMBRE,M.ART_MUS_PRAC_MUS_DESCRIPCION
  order by 1 asc









GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_REPORTE_ESCUELA_SEXO]    Script Date: 21/12/2015 3:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
 
 
 
CREATE PROCEDURE [dbo].[ART_MUSICA_REPORTE_ESCUELA_SEXO] AS

SET NOCOUNT ON
SELECT NULL AS Id, 'Masculino' as Nombre,sum(ENT_CANTIDAD_ALUMNOS_MASCULINO) as Value
  FROM  ART_ENTIDADES_ARTES E LEFT JOIN  
  ART_MUSICA_ENTIDAD_PARTICIPACION P ON E.ENT_ID=P.ENT_ID
 WHERE  E.ent_tipo = 'E' AND E.ENT_ESTADO = 'E' 


 union
 SELECT NULL AS Id, 'Femenino' as Nombre,sum(ENT_CANTIDAD_ALUMNOS_FEMENINO) as Value
  FROM  ART_ENTIDADES_ARTES E LEFT JOIN  
  ART_MUSICA_ENTIDAD_PARTICIPACION P ON E.ENT_ID=P.ENT_ID
 WHERE  E.ent_tipo = 'E' AND E.ENT_ESTADO = 'E' 
 
 
GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_REPORTE_ESCUELA_TIPO]    Script Date: 21/12/2015 3:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[ART_MUSICA_REPORTE_ESCUELA_TIPO] AS

SET NOCOUNT ON
SELECT  NULL AS Id, ISNULL(J.ENT_NATURALEZA,'NO REPORTADO') as Nombre, COUNT(*) as Value 
FROM ART_ENTIDADES_ARTES E
LEFT JOIN ART_ENTIDAD_NATURALEZA_JURIDICA J ON E.ENT_ID =J.ENT_ID
where E.ent_tipo = 'E'
AND E.ENT_ESTADO = 'E'
GROUP BY J.ENT_NATURALEZA

GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_REPORTE_EST_ESCEN]    Script Date: 21/12/2015 3:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ART_MUSICA_REPORTE_EST_ESCEN] AS

SET NOCOUNT ON
--Cantidad de participaciones de los estudiantes en escenarios()

SELECT DPTO.ZON_ID AS Id, isnull(DPTO.ZON_NOMBRE,'No registra') as departamento,cast(SUM(isnull(p.ENT_CANTIDAD_GIRAS_ULTIMO_ANIO,0))as varchar) as criterio6,
cast(SUM(isnull(p.ENT_CANTIDAD_PRESENTACIONES_LOCALIDAD_ULTIMO_ANIO,0) )as varchar) as criterio7,
cast(sum(isnull(p.ENT_CANTIDAD_GIRAS_INTER_ULTIMO_ANIO,0))as varchar) as criterio12,
'0' as criterio19,
'0' as criterio26
  FROM  ART_ENTIDADES_ARTES E LEFT JOIN  
  ART_MUSICA_ENTIDAD_PRODUCCION P ON E.ENT_ID=P.ENT_ID
   LEFT JOIN ART_ENTIDAD_UBICACION U ON E.ENT_ID=U.ENT_ID
  LEFT JOIN BAS_ZONAS_GEOGRAFICAS Z ON ( Z.ZON_ID =U.ZON_ID)
  LEFT JOIN BAS_ZONAS_GEOGRAFICAS DPTO ON(DPTO.ZON_ID=Z.ZON_PADRE_ID )
  WHERE  E.ent_tipo = 'E' AND E.ENT_ESTADO = 'E'
  GROUP BY DPTO.ZON_ID,DPTO.ZON_NOMBRE
GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_REPORTE_GENERAL]    Script Date: 21/12/2015 3:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ART_MUSICA_REPORTE_GENERAL] AS

SET NOCOUNT ON

SELECT        dbo.FN_DEPARTAMENTOS(BAS_ZONAS_GEOGRAFICAS.ZON_ID) AS DEPARTAMENTO, 
                                   ISNULL(BAS_ZONAS_GEOGRAFICAS.ZON_NOMBRE,'No Registra') AS MUNICIPIO, 
                         CASE ART_ENTIDADES_ARTES.ENT_ESTADO WHEN 'E' THEN 'PUBLICADO' WHEN 'N' THEN 'NO PUBLICADO' ELSE '' END AS ESTADO, 
						ISNULL( CAST(ART_ENTIDADES_ARTES.ENT_ID AS VARCHAR),'No Registra') as ENT_ID,
                         ART_ENTIDADES_ARTES.ENT_NOMBRE AS NOMBRE_ESCUELA, 
						  ISNULL(ART_ENTIDAD_UBICACION.ENT_DIRECCION,'No Registra') AS DIRECCION_ESCUELA, 
                         ISNULL(ART_ENTIDAD_UBICACION.ENT_TELEFONO,'No Registra') AS TELEFONO_ESCUELA, 
						 ISNULL( ART_ENTIDAD_UBICACION.ENT_FAX,'No Registra') AS FAX_ESCUELA, 
                          ISNULL(ART_ENTIDAD_UBICACION.ENT_CORREO_ELECTRONICO_ENTIDAD,'No Registra') AS CORREO_ELECTRONICO_ESCUELA, 
                         ART_ENTIDADES_ARTES.ENT_NOMBRE_CONTACTO AS NOMBRE_CONTACTO, 
                          ISNULL(ART_MUSICA_ENTIDAD_IDENTIFICACION.ENT_TELEFONOS,'No Registra') AS TELEFONO_CONTACTO, 
                          ISNULL(ART_MUSICA_ENTIDAD_IDENTIFICACION.ENT_CONTACTO_CORREO,'No Registra') AS CORREO_ELECTRONICO_CONTACTO, 
                          ISNULL(ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_NOMBRES_DIRECTOR,'No Registra') AS NOMBRE_DIRECTOR, 
                          ISNULL(ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_CELULAR_DIRECTOR,'No Registra') AS TELEFONO_DIRECTOR, 
                         ISNULL(ART_MUSICA_CATEGORIA_ESCUELA.DESCRIPCION_CATEGORIA,'No Registra') AS CATEGORIA, 
                         CAST(ISNULL( ART_MUSICA_ENTIDAD_CATEGORIZACION.PORCENTAJE_TOTAL,'0') AS varchar) AS PORCENTAJE, 
                        isnull( ART_MUSICA_ENTIDAD_CATEGORIZACION.FECHA_CATEGORIZACION,getdate()) AS FECHA_CATEGORIZACION, 
                         ISNULL(ART_ENTIDADES_ARTES.ENT_FECHA_ACTUALIZACION,getdate()) AS FECHA_ACTUALIZACION,
                         isnull(ADM_USUARIOS.USU_NOMBRE,'No registra') AS NOMBRE_CREADOR, 
						isnull( ADM_USUARIOS.USU_USUARIO, 'No registra') AS NOMBRE_USUARIO_CREADOR, 
						 isnull(ADM_USUARIOS.USU_CORREO_ELECTRONICO, 'No Registra') AS CORREO_ELECTRONICO_CREADOR,
                         CASE ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_CREADA_LEGALMENTE WHEN 1 THEN 'SI' WHEN 0 THEN 'NO' ELSE '' END AS ESCUELA_CREADA_LEGALMENTE,
                          CASE ART_ENTIDAD_NATURALEZA_JURIDICA.ENT_PERSONERIA_JURIDICA WHEN 'S' THEN 'SI' WHEN 'N' THEN 'NO' ELSE '' END AS TIENE_PERSONERIA_JURIDICA,
                          ISNULL(ART_ENTIDAD_NATURALEZA_JURIDICA.ENT_NATURALEZA,'0') AS NATURALEZA, 
                         CASE ART_ENTIDAD_NATURALEZA_JURIDICA.ENT_SINO_ENTIDAD WHEN 'S' THEN 'SI' WHEN 'N' THEN 'NO' ELSE '' END AS DEPENDE_DE_OTRA_ENTIDAD,
                          ISNULL(ART_ENTIDAD_NATURALEZA_JURIDICA.ENT_DEPENDE,'No Registra') AS ENTIDAD_DE_LA_QUE_DEPENDE, 
                         CASE ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_TIENE_DIRECTOR WHEN 1 THEN 'SI' WHEN 0 THEN 'NO' ELSE '' END AS TIENE_DIRECTOR, 
                         ISNULL(ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_NOMBRES_DIRECTOR,'No Registra') AS NOMBRE_DIRECTOR, 
                         ISNULL(ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_FECHA_NACIMIENTO_DIRECTOR,GETDATE()) AS FECHA_NACIMIENTO_DIRECTOR, 


                         ISNULL(ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_CELULAR_DIRECTOR,'No Registra') AS CELULAR_DIRECTOR, 
                         isnull(ART_MUSICA_TIPO_VINCULACION.DESCRIPCION_TIPO_VINCULACION,'No Registra') AS TIPO_VINCULACION_DIRECTOR, 
                         ISNULL(ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_ENTIDAD_CONTRATANTE,'No Registra') AS ENTIDAD_CONTRATANTE_DIRECTOR, 
                         ISNULL(CAST(ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_CANTIDAD_DOCENTES_VOLUNTARIOS AS VARCHAR),'0') AS CANTIDAD_DOCENTES_VOLUNTARIOS, 


                          ISNULL(CAST(ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_CANTIDAD_DOCENTES_PRESTACION_SERVICIOS AS VARCHAR),'0') AS CANTIDAD_DOCENTES_PRESTACION_SERVICIOS, 
                           ISNULL(CAST(ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_CANTIDAD_DOCENTES_HONORARIOS AS VARCHAR),'0') AS CANTIDAD_DOCENTES_HONORARIOS, 
                           ISNULL(CAST(ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_CANTIDAD_DOCENTES_NOMINA  AS VARCHAR),'0') AS CANTIDAD_DOCENTES_NOMINA, 
                          ISNULL(CAST(ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_CANTIDAD_TOTAL_DOCENTES_VINCULADOS AS VARCHAR),'0') AS CANTIDAD_TOTAL_DOCENTES_VINCULADOS, 
                          ISNULL(CAST(ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_CANTIDAD_DOCENTES_NIVEL_PRIMARIA AS VARCHAR),'0') AS CANTIDAD_DOCENTES_NIVEL_PRIMARIA, 
                          ISNULL(CAST(ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_CANTIDAD_DOCENTES_NIVEL_SECUNDARIA AS VARCHAR),'0') AS CANTIDAD_DOCENTES_NIVEL_SECUNDARIA, 
                          ISNULL(CAST(ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_CANTIDAD_DOCENTES_NIVEL_TECNICO AS VARCHAR),'0') AS CANTIDAD_DOCENTES_NIVEL_TECNICO, 
                         ISNULL(CAST( ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_CANTIDAD_DOCENTES_UNIVERSITARIO AS VARCHAR),'0') AS CANTIDAD_DOCENTES_UNIVERSITARIO, 
                          ISNULL(CAST(ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_CANTIDAD_DOCENTES_PREGRADO_MUSICA  AS VARCHAR),'0') AS CANTIDAD_DOCENTES_PREGRADO_MUSICA, 
                         ISNULL(CAST( ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_CANTIDAD_DOCENTES_PREGRADO_OTRA_AREA AS VARCHAR),'0') AS CANTIDAD_DOCENTES_PREGRADO_OTRA_AREA, 
                         ISNULL(CAST( ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_CANTIDAD_DOCENTES_POSTGRADO AS  VARCHAR),'0') AS CANTIDAD_DOCENTES_POSTGRADO, 
                          ISNULL(CAST(ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_CANTIDAD_TOTAL_DOCENTES_NIVEL_EDUCATIVO AS  VARCHAR),'0') AS CANTIDAD_TOTAL_DOCENTES_NIVEL_EDUCATIVO,
                          CASE ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_CUENTA_APOYO_ADMINISTRATIVO WHEN 1 THEN 'SI' WHEN 0 THEN 'NO' ELSE '' END AS CUENTA_APOYO_ADMINISTRATIVO,
                           ISNULL(CAST(ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_CANTIDAD_APOYO_VOLUNTARIO AS  VARCHAR),'0') AS CANTIDAD_APOYO_VOLUNTARIO, 



                           ISNULL(CAST(ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_CANTIDAD_APOYO_PRESTACION_SERVICIOS AS  VARCHAR),'0') AS CANTIDAD_APOYO_PRESTACION_SERVICIOS, 
                           ISNULL(CAST(ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_CANTIDAD_APOYO_HONORARIOS AS  VARCHAR),'0') AS CANTIDAD_APOYO_HONORARIOS, 
                          ISNULL(CAST(ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_CANTIDAD_APOYO_NOMINA AS  VARCHAR),'0') AS CANTIDAD_APOYO_NOMINA, 
                         CASE ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_INCLUYE_ACTIVIDAD_MUSICAL WHEN 1 THEN 'SI' WHEN 0 THEN 'NO' ELSE '' END AS INCLUYE_ACTIVIDAD_MUSICAL,
                          ISNULL(ART_MUSICA_ENTIDAD_INFRAESTRUCTURA.ENT_SEDE_LUGAR,'No Registra') AS SEDE_DE_TRABAJO, 
						  ISNULL(ART_ESPACIO_PRINCIPAL.EEP_NOMBRE,'No Registra') AS ESPACIO, 
                         CASE ART_MUSICA_ENTIDAD_INFRAESTRUCTURA.ENT_SEDE_ASIGNADA_SOPORTE_ESCRITO WHEN 1 THEN 'SI' WHEN 0 THEN 'NO' ELSE '' END AS SEDE_ASIGNADA_SOPORTE_ESCRITO,
                           ISNULL(CAST(ART_MUSICA_ENTIDAD_INFRAESTRUCTURA.ENT_CANTIDAD_SILLAS AS  VARCHAR),'0') AS CANTIDAD_SILLAS, 
                           ISNULL(CAST(ART_MUSICA_ENTIDAD_INFRAESTRUCTURA.ENT_CANTIDAD_ATRILES AS  VARCHAR),'0') AS CANTIDAD_ATRILES, 
                           ISNULL(CAST(ART_MUSICA_ENTIDAD_INFRAESTRUCTURA.ENT_CANTIDAD_TABLEROS AS  VARCHAR),'0') AS CANTIDAD_TABLEROS, 
                           ISNULL(CAST(ART_MUSICA_ENTIDAD_INFRAESTRUCTURA.ENT_CANTIDAD_ESTANTERIA AS  VARCHAR),'0') AS CANTIDAD_ESTANTERIA, 
                         CASE ART_MUSICA_ENTIDAD_INFRAESTRUCTURA.ENT_SEDE_ADEC_ACUSTIC WHEN 1 THEN 'SI' WHEN 0 THEN 'NO' ELSE '' END AS SEDE_ADECUADA_ACUSTICAMENTE,
                           ISNULL(CAST(ART_MUSICA_ENTIDAD_INFRAESTRUCTURA.ENT_SEDE_PORCENTAJE_ADEC_ACUSTIC AS  VARCHAR),'0') AS PORCENTAJE_ADECUACION_ACUSTICA, 
                         ISNULL( CAST(ART_MUSICA_ENTIDAD_INFRAESTRUCTURA.ENT_CANTIDAD_INSTR_CUERDAS_PULSADAS AS VARCHAR),'0') AS CANTIDAD_INSTRUMENTOS_CUERDAS_PULSADAS, 
                          ISNULL( CAST(ART_MUSICA_ENTIDAD_INFRAESTRUCTURA.ENT_CANTIDAD_INSTR_CUERDAS_SINFONICAS AS VARCHAR) ,'0')AS CANTIDAD_INSTRUMENTOS_CUERDAS_SINFONICAS, 
                          ISNULL( CAST(ART_MUSICA_ENTIDAD_INFRAESTRUCTURA.ENT_CANTIDAD_INSTR_VIENTOS_MADERAS AS VARCHAR),'0')AS CANTIDAD_INSTRUMENTOS_VIENTOS_MADERAS, 
                          ISNULL( CAST(ART_MUSICA_ENTIDAD_INFRAESTRUCTURA.ENT_CANTIDAD_INSTR_VIENTOS_METALES AS VARCHAR) ,'0')AS CANTIDAD_INSTRUMENTOS_VIENTOS_METALES, 
                           ISNULL( CAST(ART_MUSICA_ENTIDAD_INFRAESTRUCTURA.ENT_CANTIDAD_INSTR_PERCUSION_MENOR AS VARCHAR) ,'0')AS CANTIDAD_INSTRUMENTOS_PERCUSION_MENOR, 
                           ISNULL( CAST(ART_MUSICA_ENTIDAD_INFRAESTRUCTURA.ENT_CANTIDAD_INSTR_PERCUSION_SINFONICA AS VARCHAR),'0') AS CANTIDAD_INSTRUMENTOS_PERCUSION_SINFONICA, 
                           ISNULL( CAST(ART_MUSICA_ENTIDAD_INFRAESTRUCTURA.ENT_CANTIDAD_INSTR_OTROS AS VARCHAR) ,'0')AS CANTIDAD_INSTRUMENTOS_OTROS, 
                         ISNULL(   CAST(ART_MUSICA_ENTIDAD_INFRAESTRUCTURA.ENT_CANTIDAD_INSTR_TOTAL AS VARCHAR),'0') AS CANTIDAD_INSTRUMENTOS_TOTAL, 
                         CASE ART_MUSICA_ENTIDAD_INFRAESTRUCTURA.ENT_MATERIAL_PEDAGOGICO WHEN 1 THEN 'SI' WHEN 0 THEN 'NO' ELSE '' END AS CUENTA_MATERIAL_PEDAGOGICO,
                          isnull( CAST(ART_MUSICA_ENTIDAD_INFRAESTRUCTURA.ENT_CANTIDAD_TITULOS_BIBLIOGRAFICOS as varchar),'0') AS CANTIDAD_TITULOS_BIBLIOGRAFICOS, 
                         CASE ART_ENTIDAD_INFRAESTRUCTURA.ENT_SINOACCESO_INTERNET WHEN 'S' THEN 'SI' WHEN 'N' THEN 'NO' ELSE '' END AS TIENE_ACCESO_INTERNET,
                           ISNULL( CAST(ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_CANTIDAD_ALUMNOS_MENOR_6  AS VARCHAR),'0')AS CANTIDAD_ALUMNOS_MENOR_6, 
                           ISNULL( CAST(ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_CANTIDAD_ALUMNOS_ENTRE_7_11 AS VARCHAR) ,'0')AS CANTIDAD_ALUMNOS_ENTRE_7_11, 
                           ISNULL( CAST(ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_CANTIDAD_ALUMNOS_ENTRE_12_18 AS  VARCHAR),'0') AS CANTIDAD_ALUMNOS_ENTRE_12_18, 
                          ISNULL( CAST(ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_CANTIDAD_ALUMNOS_ENTRE_19_25 AS  VARCHAR) ,'0')AS CANTIDAD_ALUMNOS_ENTRE_19_25, 
                         ISNULL( CAST( ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_CANTIDAD_ALUMNOS_MAYOR_26 AS  VARCHAR) ,'0')AS CANTIDAD_ALUMNOS_ENTRE_26_60, 
                         ISNULL(  CAST(ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_CANTIDAD_ALUMNOS_MAYOR_60 AS  VARCHAR) ,'0')AS CANTIDAD_ALUMNOS_MAYOR_60, 
                         ISNULL(  CAST(ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_CANTITDAD_TOTAL_ALUMNOS_EDAD AS  VARCHAR),'0') AS CANTIDAD_TOTAL_ALUMNOS_EDAD, 
                         ISNULL(   CAST(ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_CANTIDAD_ALUMNOS_MASCULINO AS  VARCHAR) ,'0') AS CANTIDAD_ALUMNOS_MASCULINO, 
                          ISNULL(  CAST(ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_CANTIDAD_ALUMNOS_FEMENINO  AS  VARCHAR),'0')AS CANTIDAD_ALUMNOS_FEMENINO, 
                         ISNULL(   CAST(ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_CANTIDAD_TOTAL_ALUMNOS_GENERO AS  VARCHAR),'0') AS CANTIDAD_TOTAL_ALUMNOS_GENERO, 
                         ISNULL(   CAST(ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_CANTIDAD_ALUMNOS_RURAL AS  VARCHAR) ,'0')AS CANTIDAD_ALUMNOS_RURAL, 
                          ISNULL(  CAST(ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_CANTIDAD_ALUMNOS_URBANA AS  VARCHAR),'0') AS CANTIDAD_ALUMNOS_URBANA, 
                          ISNULL(  CAST(ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_CANTIDAD_TOTAL_ALUMNOS_AREA AS  VARCHAR),'0') AS CANTIDAD_TOTAL_ALUMNOS_AREA, 
                         ISNULL(   CAST(ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_CANTIDAD_ALUMNOS_INDIGENAS AS  VARCHAR) ,'0')AS CANTIDAD_ALUMNOS_INDIGENAS, 
                         ISNULL(   CAST(ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_CANTIDAD_ALUMNOS_AFRO  AS  VARCHAR) ,'0')AS CANTIDAD_ALUMNOS_AFRO, 
                          ISNULL(  CAST(ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_CANTIDAD_ALUMNOS_ROM AS  VARCHAR) ,'0')AS CANTIDAD_ALUMNOS_ROM, 
                         ISNULL(   CAST(ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_CANTIDAD_ALUMNOS_RAIZALES AS  VARCHAR),'0') AS CANTIDAD_ALUMNOS_RAIZALES, 
                         ISNULL(  CAST( ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_CANTIDAD_ALUMNOS_OTROS AS  VARCHAR) ,'0')AS CANTIDAD_ALUMNOS_OTROS, 
                         ISNULL(   CAST(ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_CANTIDAD_TOTAL_ALUMNOS_ETNIA AS  VARCHAR),'0')AS CANTIDAD_TOTAL_ALUMNOS_ETNIA, 
                         ISNULL(   CAST(ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_CANTIDAD_ALUMNOS_DISCAPACITADOS AS  VARCHAR),'0') AS CANTIDAD_ALUMNOS_DISCAPACITADOS, 
                          ISNULL( CAST( ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_CANTIDAD_ALUMNOS_DESPLAZADOS  AS  VARCHAR) ,'0')AS CANTIDAD_ALUMNOS_DESPLAZADOS, 
                         ISNULL(  CAST( ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_CANTIDAD_ALUMNOS_DESVINCULADOS AS  VARCHAR),'0') AS CANTIDAD_ALUMNOS_DESVINCULADOS, 
                         ISNULL(  CAST( ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_CANTIDAD_ALUMNOS_VULNERABLES AS  VARCHAR) ,'0')AS CANTIDAD_ALUMNOS_VULNERABLES, 
                       ISNULL(    CAST(ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_CANTIDAD_TOTAL_ALUMNOS_ESPECIALES AS  VARCHAR),'0') AS CANTIDAD_TOTAL_ALUMNOS_ESPECIALES, 
                         CASE ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_ORGANIZACION_COMUNITARIA WHEN 1 THEN 'SI' WHEN 0 THEN 'NO' ELSE '' END AS CUENTA_ORGANIZACION_COMUNITARIA,
                          ART_MUSICA_ORGANIZACION_COMUNITARIA.ORGANIZACION_COMUNITARIA_DESCRIPCION AS ORGANIZACION_COMUNITARIA, 
                         ISNULL(ART_MUSICA_ENTIDAD_PARTICIPACION.OTRA_ORGANIZACION_COMUNITARIA,'No Registra') as OTRA_ORGANIZACION_COMUNITARIA, 
                         isnull(ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_NOMBRE_ORGANIZACION,'No Registra') AS NOMBRE_ORGANIZACION, 
                         isnull(cast(ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_INTEGRANTES_ORGANIZACION  as varchar),'No Registra')AS INTEGRANTES_ORGANIZACION, 
                        isnull (ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_NOMBRE_PRESIDENTE_ORGANIZACION,  'No Registra') AS NOMBRE_PRESIDENTE_ORGANIZACION, 
                            isnull (ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_TELEFONO_CELULAR_PRESIDENTE_ORGANIZACION ,  'No Registra')AS TELEFONO_CELULAR_PRESIDENTE_ORGANIZACION,
                           isnull(ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_TELEFONO_FIJO_PRESIDENTE_ORGANIZACION ,  'No Registra')AS TELEFONO_FIJO_PRESIDENTE_ORGANIZACION, 
                          isnull(ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_CORREO_ELECTRONICO_PRESIDENTE_ORGANIZACION ,  'No Registra')AS CORREO_ELECTRONICO_PRESIDENTE_ORGANIZACION,
                           isnull(ART_MUSICA_ENTIDAD_FORMACION.ENT_PROCESOS_FORMACION,  'No Registra') AS PROCESOS_FORMACION, 
						  'No Registra' as PRACTICAS_MUSICALES,
                         CASE ART_MUSICA_ENTIDAD_FORMACION.ENT_PRACTICAS_MUSICALES_ORIENTADAS_MUSICO WHEN 1 THEN 'SI' WHEN 0 THEN 'NO' ELSE '' END AS PRACTICAS_MUSICALES_ORIENTADAS_MUSICO,
                          CASE ART_MUSICA_ENTIDAD_FORMACION.ENT_TALLERES_INDEPENDIENTES WHEN 1 THEN 'SI' WHEN 0 THEN 'NO' ELSE '' END AS TALLERES_INDEPENDIENTES,
                          CASE ART_MUSICA_ENTIDAD_FORMACION.ENT_PROGRAMAS_FORMULADOS_ESCRITO WHEN 1 THEN 'SI' WHEN 0 THEN 'NO' ELSE '' END AS PROGRAMAS_FORMULADOS_ESCRITO,
                          isnull(cast(ART_MUSICA_ENTIDAD_FORMACION.INICIACION_DURACION_PROMEDIO_MESES as varchar),'0')  as INICIACION_DURACION_PROMEDIO_MESES, 
                          isnull(cast(ART_MUSICA_ENTIDAD_FORMACION.INICIACION_POBLACION_MENOR_6_ANOS as varchar),'0') as INICIACION_POBLACION_MENOR_6_ANOS, 
                          isnull(cast(ART_MUSICA_ENTIDAD_FORMACION.INICIACION_POBLACION_MENOR_11_ANOS  as varchar),'0') as INICIACION_POBLACION_MENOR_11_ANOS, 
                         isnull(cast( ART_MUSICA_ENTIDAD_FORMACION.INICIACION_POBLACION_MENOR_18_ANOS as varchar),'0') as INICIACION_POBLACION_MENOR_18_ANOS, 
                         isnull(cast( ART_MUSICA_ENTIDAD_FORMACION.INICIACION_POBLACION_MENOR_26_ANOS  as varchar),'0') as INICIACION_POBLACION_MENOR_26_ANOS, 
                          ISNULL(cast(ART_MUSICA_ENTIDAD_FORMACION.INICIACION_POBLACION_MENOR_60_ANOS  as varchar),'0') AS INICIACION_POBLACION_MENOR_60_ANOS, 
                         isnull(cast( ART_MUSICA_ENTIDAD_FORMACION.INICIACION_POBLACION_MAYOR_60_ANOS  as varchar),'0') AS INICIACION_POBLACION_MAYOR_60_ANOS, 
                         isnull(cast( ART_MUSICA_ENTIDAD_FORMACION.INICIACION_INTENSIDAD_HORAS_SEMANAL  as varchar),'0') AS INICIACION_INTENSIDAD_HORAS_SEMANAL,
						  ISNULL(ART_MUSICA_ENTIDAD_FORMACION.INICIACION_OBSERVACIONES, 'No Registra') as INICIACION_OBSERVACIONES, 
                           isnull(cast(ART_MUSICA_ENTIDAD_FORMACION.BASICO_DURACION_PROMEDIO_MESES as varchar),'0')as BASICO_DURACION_PROMEDIO_MESES, 
                          isnull(cast(ART_MUSICA_ENTIDAD_FORMACION.BASICO_POBLACION_MENOR_6_ANOS as varchar),'0')as BASICO_POBLACION_MENOR_6_ANOS, 
                         isnull(cast(ART_MUSICA_ENTIDAD_FORMACION.BASICO_POBLACION_MENOR_11_ANOS as varchar),'0') as BASICO_POBLACION_MENOR_11_ANOS, 
                        isnull(cast( ART_MUSICA_ENTIDAD_FORMACION.BASICO_POBLACION_MENOR_18_ANOS as varchar),'0') as BASICO_POBLACION_MENOR_18_ANOS, 
                        isnull(cast( ART_MUSICA_ENTIDAD_FORMACION.BASICO_POBLACION_MENOR_26_ANOS as varchar),'0') as BASICO_POBLACION_MENOR_26_ANOS, 
                        isnull(cast( ART_MUSICA_ENTIDAD_FORMACION.BASICO_POBLACION_MENOR_60_ANOS  as varchar),'0') as BASICO_POBLACION_MENOR_60_ANOS, 
                        isnull(cast( ART_MUSICA_ENTIDAD_FORMACION.BASICO_POBLACION_MAYOR_60_ANOS   as varchar),'0') as BASICO_POBLACION_MAYOR_60_ANOS, 
                        isnull(cast( ART_MUSICA_ENTIDAD_FORMACION.BASICO_INTENSIDAD_HORAS_SEMANAL as varchar),'0') as  BASICO_INTENSIDAD_HORAS_SEMANAL, 
						isnull(ART_MUSICA_ENTIDAD_FORMACION.BASICO_OBSERVACIONES,'No Registra') as BASICO_OBSERVACIONES, 
                       isnull(cast(  ART_MUSICA_ENTIDAD_FORMACION.MEDIO_DURACION_PROMEDIO_MESES as varchar),'0') as MEDIO_DURACION_PROMEDIO_MESES , 
					  isnull(cast( ART_MUSICA_ENTIDAD_FORMACION.MEDIO_POBLACION_MENOR_6_ANOS  as varchar),'0') as MEDIO_POBLACION_MENOR_6_ANOS, 
                       isnull(cast(  ART_MUSICA_ENTIDAD_FORMACION.MEDIO_POBLACION_MENOR_11_ANOS  as varchar),'0') as MEDIO_POBLACION_MENOR_11_ANOS, 
						isnull(cast( ART_MUSICA_ENTIDAD_FORMACION.MEDIO_POBLACION_MENOR_18_ANOS  as varchar),'0')as MEDIO_POBLACION_MENOR_18_ANOS,
                        isnull(cast(  ART_MUSICA_ENTIDAD_FORMACION.MEDIO_POBLACION_MENOR_26_ANOS as varchar),'0')  as MEDIO_POBLACION_MENOR_26_ANOS, 
                       isnull(cast(  ART_MUSICA_ENTIDAD_FORMACION.MEDIO_POBLACION_MENOR_60_ANOS as varchar),'0') as MEDIO_POBLACION_MENOR_60_ANOS , 
						isnull(cast( ART_MUSICA_ENTIDAD_FORMACION.MEDIO_POBLACION_MAYOR_60_ANOS  as varchar),'0') as MEDIO_POBLACION_MAYOR_60_ANOS , 
                        isnull(cast( ART_MUSICA_ENTIDAD_FORMACION.MEDIO_INTENSIDAD_HORAS_SEMANAL as varchar),'0') as MEDIO_INTENSIDAD_HORAS_SEMANAL, 
						isnull( ART_MUSICA_ENTIDAD_FORMACION.MEDIO_OBSERVACIONES ,'No registra') as MEDIO_OBSERVACIONES, 
                       isnull(cast(  ART_MUSICA_ENTIDAD_FORMACION.CURSO_DURACION_PROCURSO_SEMANA  as varchar),'0') as CURSO_DURACION_PROCURSO_SEMANA, 
                      isnull(cast(   ART_MUSICA_ENTIDAD_FORMACION.CURSO_POBLACION_MENOR_6_ANOS  as varchar),'0') as CURSO_POBLACION_MENOR_6_ANOS,
						isnull(cast(  ART_MUSICA_ENTIDAD_FORMACION.CURSO_POBLACION_MENOR_11_ANOS  as varchar),'0') as CURSO_POBLACION_MENOR_11_ANOS, 
                      isnull(cast(   ART_MUSICA_ENTIDAD_FORMACION.CURSO_POBLACION_MENOR_18_ANOS as varchar),'0') as CURSO_POBLACION_MENOR_18_ANOS, 
                       isnull(cast(  ART_MUSICA_ENTIDAD_FORMACION.CURSO_POBLACION_MENOR_26_ANOS as varchar),'0') as CURSO_POBLACION_MENOR_26_ANOS, 
                       isnull(cast(  ART_MUSICA_ENTIDAD_FORMACION.CURSO_POBLACION_MENOR_60_ANOS as varchar),'0') as CURSO_POBLACION_MENOR_60_ANOS, 
                       isnull(cast(  ART_MUSICA_ENTIDAD_FORMACION.CURSO_POBLACION_MAYOR_60_ANOS as varchar),'0') as CURSO_POBLACION_MAYOR_60_ANOS, 
                       isnull(cast(  ART_MUSICA_ENTIDAD_FORMACION.CURSO_INTENSIDAD_HORAS_SEMANAL as varchar),'0') as CURSO_INTENSIDAD_HORAS_SEMANAL, 
						isnull(ART_MUSICA_ENTIDAD_FORMACION.CURSO_OBSERVACIONES, 'No registra') as CURSO_OBSERVACIONES, 
                        isnull(cast( ART_MUSICA_ENTIDAD_FORMACION.PEDAGOGIAS_DURACION_PROPEDAGOGIAS_SEMANA  as varchar),'0') as PEDAGOGIAS_DURACION_PROPEDAGOGIAS_SEMANA, 
                       isnull(cast(  ART_MUSICA_ENTIDAD_FORMACION.PEDAGOGIAS_POBLACION_MENOR_6_ANOS as varchar),'0') as PEDAGOGIAS_POBLACION_MENOR_6_ANOS, 
                        isnull(cast( ART_MUSICA_ENTIDAD_FORMACION.PEDAGOGIAS_POBLACION_MENOR_11_ANOS as varchar),'0') as PEDAGOGIAS_POBLACION_MENOR_11_ANOS, 
                        isnull(cast( ART_MUSICA_ENTIDAD_FORMACION.PEDAGOGIAS_POBLACION_MENOR_18_ANOS as varchar),'0') as PEDAGOGIAS_POBLACION_MENOR_18_ANOS, 
                        isnull(cast( ART_MUSICA_ENTIDAD_FORMACION.PEDAGOGIAS_POBLACION_MENOR_26_ANOS as varchar),'0') as PEDAGOGIAS_POBLACION_MENOR_26_ANOS, 
                        isnull(cast( ART_MUSICA_ENTIDAD_FORMACION.PEDAGOGIAS_POBLACION_MENOR_60_ANOS as varchar),'0') as PEDAGOGIAS_POBLACION_MENOR_60_ANOS, 
                        isnull(cast( ART_MUSICA_ENTIDAD_FORMACION.PEDAGOGIAS_POBLACION_MAYOR_60_ANOS as varchar),'0') as PEDAGOGIAS_POBLACION_MAYOR_60_ANOS, 
                        isnull(cast( ART_MUSICA_ENTIDAD_FORMACION.PEDAGOGIAS_INTENSIDAD_HORAS_SEMANAL as varchar),'0') as PEDAGOGIAS_INTENSIDAD_HORAS_SEMANAL, 
						 isnull(ART_MUSICA_ENTIDAD_FORMACION.PEDAGOGIAS_OBSERVACIONES,'No registra') as PEDAGOGIAS_OBSERVACIONES, 
                        isnull(cast( ART_MUSICA_ENTIDAD_PRODUCCION.ENT_CANTIDAD_GIRAS_ULTIMO_ANIO as varchar),'0') as  CANTIDAD_GIRAS_NACIONALES_ULTIMO_AÑO, 
                        isnull(cast( ART_MUSICA_ENTIDAD_PRODUCCION.ENT_CANTIDAD_GIRAS_INTER_ULTIMO_ANIO as varchar),'0') AS CANTIDAD_GIRAS_INTERNACIONALES_ULTIMO_AÑO, 
                        isnull(cast( ART_MUSICA_ENTIDAD_PRODUCCION.ENT_CANTIDAD_PRESENTACIONES_LOCALIDAD_ULTIMO_ANIO as varchar),'0') AS ENT_CANTIDAD_PRESENTACIONES_LOCALIDAD_ULTIMO_ANIO,
                         isnull( cast( ART_MUSICA_ENTIDAD_PRODUCCION.ENT_CANTIDAD_DISCOS_ULTIMO_ANIO  as varchar),'0') AS CANTIDAD_DISCOS_ULTIMO_AÑO, 
                         isnull(cast(ART_MUSICA_ENTIDAD_PRODUCCION.ENT_CANTIDAD_REPERTORIOS_ULTIMO_ANIO as varchar),'0') AS CANTIDAD_REPERTORIOS_ULTIMO_AÑO, 
                       isnull( cast( ART_MUSICA_ENTIDAD_PRODUCCION.ENT_CANTIDAD_MATERIAL_DIVULGATIVO_ULTIMO_ANIO as varchar),'0') AS CANTIDAD_MATERIAL_DIVULGATIVO_ULTIMO_AÑO, 
                        isnull( cast( ART_MUSICA_ENTIDAD_PRODUCCION.ENT_CANTIDAD_MATERIAL_APOYO_ULTIMO_ANIO as varchar) ,'0')AS CANTIDAD_MATERIAL_APOYO_ULTIMO_AÑO, 
                         isnull( cast(ART_MUSICA_ENTIDAD_PRODUCCION.ENT_CANTIDAD_AGRUPACIONES_CONFORMADAS_VIGENTES as varchar),'0') AS CANTIDAD_AGRUPACIONES_CONFORMADAS_VIGENTES







FROM            ADM_USUARIOS INNER JOIN
                         ART_MUSICA_ENTIDAD_IDENTIFICACION ON ADM_USUARIOS.USU_ID = ART_MUSICA_ENTIDAD_IDENTIFICACION.USU_ID RIGHT OUTER JOIN
                         ART_MUSICA_ENTIDAD_PRODUCCION RIGHT OUTER JOIN
                         ART_ENTIDADES_ARTES ON ART_MUSICA_ENTIDAD_PRODUCCION.ENT_ID = ART_ENTIDADES_ARTES.ENT_ID LEFT OUTER JOIN
                         ART_MUSICA_ENTIDAD_FORMACION ON ART_ENTIDADES_ARTES.ENT_ID = ART_MUSICA_ENTIDAD_FORMACION.ENT_ID LEFT OUTER JOIN
                         ART_MUSICA_ORGANIZACION_COMUNITARIA RIGHT OUTER JOIN
                         ART_MUSICA_ENTIDAD_PARTICIPACION ON 
                         ART_MUSICA_ORGANIZACION_COMUNITARIA.ORGANIZACION_COMUNITARIA_ID = ART_MUSICA_ENTIDAD_PARTICIPACION.ORGANIZACION_COMUNITARIA_ID
                          ON ART_ENTIDADES_ARTES.ENT_ID = ART_MUSICA_ENTIDAD_PARTICIPACION.ENT_ID LEFT OUTER JOIN
                         ART_ESPACIO_PRINCIPAL RIGHT OUTER JOIN
                         ART_ENTIDAD_INFRAESTRUCTURA ON ART_ESPACIO_PRINCIPAL.EEP_ID = ART_ENTIDAD_INFRAESTRUCTURA.ENT_ESPACIO ON 
                         ART_ENTIDADES_ARTES.ENT_ID = ART_ENTIDAD_INFRAESTRUCTURA.ENT_ID LEFT OUTER JOIN
                         ART_MUSICA_ENTIDAD_INFRAESTRUCTURA ON ART_ENTIDADES_ARTES.ENT_ID = ART_MUSICA_ENTIDAD_INFRAESTRUCTURA.ENT_ID LEFT OUTER JOIN
                         ART_ENTIDAD_NATURALEZA_JURIDICA ON ART_ENTIDADES_ARTES.ENT_ID = ART_ENTIDAD_NATURALEZA_JURIDICA.ENT_ID LEFT OUTER JOIN
                         ART_MUSICA_TIPO_VINCULACION RIGHT OUTER JOIN
                         ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD ON 
                         ART_MUSICA_TIPO_VINCULACION.ID_TIPO_VINCULACION = ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_TIPO_VINCULACION_DIRECTOR ON 
                         ART_ENTIDADES_ARTES.ENT_ID = ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD.ENT_ID LEFT OUTER JOIN
                         ART_MUSICA_ENTIDAD_CATEGORIZACION ON ART_ENTIDADES_ARTES.ENT_ID = ART_MUSICA_ENTIDAD_CATEGORIZACION.ENT_ID LEFT OUTER JOIN
                         ART_MUSICA_CATEGORIA_ESCUELA ON 
                         ART_MUSICA_ENTIDAD_CATEGORIZACION.ID_CATEGORIA = ART_MUSICA_CATEGORIA_ESCUELA.ID_CATEGORIA LEFT OUTER JOIN
                         BAS_ZONAS_GEOGRAFICAS INNER JOIN
                         ART_ENTIDAD_UBICACION ON BAS_ZONAS_GEOGRAFICAS.ZON_ID = ART_ENTIDAD_UBICACION.ZON_ID ON 
                         ART_ENTIDADES_ARTES.ENT_ID = ART_ENTIDAD_UBICACION.ENT_ID ON 
                         ART_MUSICA_ENTIDAD_IDENTIFICACION.ENT_ID = ART_ENTIDADES_ARTES.ENT_ID
WHERE        (ART_ENTIDADES_ARTES.ENT_TIPO = 'E')
ORDER BY DEPARTAMENTO, MUNICIPIO, NOMBRE_ESCUELA

GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_REPORTE_INSTRUMENTO_DPTO]    Script Date: 21/12/2015 3:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ART_MUSICA_REPORTE_INSTRUMENTO_DPTO] AS

SET NOCOUNT ON

SELECT cast(DPTO.ZON_ID as varchar) AS Id, isnull(DPTO.ZON_NOMBRE,'No registra') as departamento,cast(SUM(isnull(EP.ENT_CANTIDAD_INSTR_CUERDAS_PULSADAS,0))as varchar) as cuerdapulsada,
cast(SUM(isnull(EP.ENT_CANTIDAD_INSTR_CUERDAS_SINFONICAS,0) )as varchar) as cuerdassinf,
cast(sum(isnull(EP.ENT_CANTIDAD_INSTR_VIENTOS_MADERAS,0))as varchar) as vientomadera,
cast(sum(isnull(EP.ENT_CANTIDAD_INSTR_PERCUSION_MENOR,0))as varchar) as pmenor,
cast(sum(isnull(EP.ENT_CANTIDAD_INSTR_PERCUSION_SINFONICA,0))as varchar) as psinfonica,
cast(sum(isnull(EP.ENT_CANTIDAD_INSTR_OTROS,0))as varchar) as instrumentootra
,cast(sum(isnull(EP.ENT_CANTIDAD_INSTR_TOTAL,0))as varchar) as total  
from 
ART_ENTIDADES_ARTES E,
ART_ENTIDAD_UBICACION  U,	
BAS_ZONAS_GEOGRAFICAS Z,
BAS_ZONAS_GEOGRAFICAS DPTO, ART_MUSICA_ENTIDAD_INFRAESTRUCTURA  EP
where E.ent_tipo = 'E' AND E.ENT_ID=U.ENT_ID
AND E.ENT_ESTADO = 'E' AND DPTO.ZON_ID=Z.ZON_PADRE_ID 
AND U.ZON_ID = Z.ZON_ID  AND E.ENT_ID=EP.ENT_ID 
GROUP BY DPTO.ZON_ID,DPTO.ZON_NOMBRE



GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_REPORTE_ORG_COMUNITARIA]    Script Date: 21/12/2015 3:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ART_MUSICA_REPORTE_ORG_COMUNITARIA] AS

SET NOCOUNT ON
select DPTO.ZON_ID AS Id, DPTO.ZON_NOMBRE as Nombre, COUNT(*) as Value from 
ART_ENTIDADES_ARTES E,
ART_ENTIDAD_UBICACION  U, 
BAS_ZONAS_GEOGRAFICAS Z,
BAS_ZONAS_GEOGRAFICAS DPTO, ART_MUSICA_ENTIDAD_PARTICIPACION  EP
where E.ent_tipo = 'E' AND E.ENT_ID=U.ENT_ID
AND E.ENT_ESTADO = 'E' AND DPTO.ZON_ID=Z.ZON_PADRE_ID 
AND U.ZON_ID = Z.ZON_ID  AND E.ENT_ID=EP.ENT_ID AND EP.ENT_ORGANIZACION_COMUNITARIA=1
GROUP BY DPTO.ZON_ID,DPTO.ZON_NOMBRE



GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_REPORTE_PROFESORES]    Script Date: 21/12/2015 3:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ART_MUSICA_REPORTE_PROFESORES] AS

SET NOCOUNT ON
select DPTO.ZON_ID AS Id, DPTO.ZON_NOMBRE as Nombre, 
SUM(EP.ENT_CANTIDAD_DOCENTES_VOLUNTARIOS + EP.ENT_CANTIDAD_DOCENTES_PRESTACION_SERVICIOS + EP.ENT_CANTIDAD_DOCENTES_HONORARIOS + EP.ENT_CANTIDAD_DOCENTES_NOMINA) as Value from 
ART_ENTIDADES_ARTES E,
ART_ENTIDAD_UBICACION  U, 
BAS_ZONAS_GEOGRAFICAS Z,
BAS_ZONAS_GEOGRAFICAS DPTO, ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD  EP
where E.ent_tipo = 'E' AND E.ENT_ID=U.ENT_ID
AND E.ENT_ESTADO = 'E' AND DPTO.ZON_ID=Z.ZON_PADRE_ID 
AND U.ZON_ID = Z.ZON_ID  AND E.ENT_ID=EP.ENT_ID  
GROUP BY DPTO.ZON_ID,DPTO.ZON_NOMBRE


GO
/****** Object:  StoredProcedure [dbo].[ART_MUSICA_REPORTE_PROFESORES_DPTO]    Script Date: 21/12/2015 3:25:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ART_MUSICA_REPORTE_PROFESORES_DPTO] AS

SET NOCOUNT ON

SELECT cast(DPTO.ZON_ID as varchar) AS Id, isnull(DPTO.ZON_NOMBRE,'No registra') as departamento,cast(SUM(isnull(EP.ENT_CANTIDAD_DOCENTES_NIVEL_PRIMARIA,0))as varchar) as primaria,
cast(SUM(isnull(EP.ENT_CANTIDAD_DOCENTES_NIVEL_SECUNDARIA,0) )as varchar) as secundaria,
cast(sum(isnull(EP.ENT_CANTIDAD_DOCENTES_NIVEL_TECNICO,0))as varchar) as tecnico,
cast(sum(isnull(EP.ENT_CANTIDAD_DOCENTES_UNIVERSITARIO,0))as varchar) as universiatrio,
cast(sum(isnull(EP.ENT_CANTIDAD_DOCENTES_PREGRADO_MUSICA,0))as varchar) as pregradomusica,
cast(sum(isnull(EP.ENT_CANTIDAD_DOCENTES_PREGRADO_OTRA_AREA,0))as varchar) as pregradootra
,cast(sum(isnull(EP.ENT_CANTIDAD_TOTAL_DOCENTES_NIVEL_EDUCATIVO,0))as varchar) as total  
from 
ART_ENTIDADES_ARTES E,
ART_ENTIDAD_UBICACION  U,	
BAS_ZONAS_GEOGRAFICAS Z,
BAS_ZONAS_GEOGRAFICAS DPTO, ART_MUSICA_ENTIDAD_INSTITUCIONALIDAD  EP
where E.ent_tipo = 'E' AND E.ENT_ID=U.ENT_ID
AND E.ENT_ESTADO = 'E' AND DPTO.ZON_ID=Z.ZON_PADRE_ID 
AND U.ZON_ID = Z.ZON_ID  AND E.ENT_ID=EP.ENT_ID 
GROUP BY DPTO.ZON_ID,DPTO.ZON_NOMBRE
GO
