USE [SIPA]
GO
/****** Object:  Table [dbo].[ART_MUSICA_RECURSO]    Script Date: 21/12/2015 3:01:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ART_MUSICA_RECURSO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nchar](30) NULL,
	[IdPadre] [int] NULL,
	[Estado] [bit] NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Ruta] [nvarchar](50) NULL,
	[Tipo] [nvarchar](50) NULL,
	[Nombre] [nvarchar](50) NULL,
	[Titulo] [nvarchar](50) NULL,
	[estilo] [nvarchar](50) NULL,
 CONSTRAINT [PK_Recurso] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ART_MUSICA_ROL]    Script Date: 21/12/2015 3:01:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ART_MUSICA_ROL](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](30) NULL,
	[Nombre] [nvarchar](50) NULL,
	[FechaCreacion] [datetime] NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ART_MUSICA_ROL_RECURSO]    Script Date: 21/12/2015 3:01:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ART_MUSICA_ROL_RECURSO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RolId] [int] NULL,
	[RecId] [int] NULL,
	[esActivo] [bit] NULL,
	[Fecha] [datetime] NULL,
	[NumMenu] [int] NOT NULL,
	[Orden] [int] NULL,
 CONSTRAINT [PK_RolesRecurso] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ART_MUSICA_USUARIO]    Script Date: 21/12/2015 3:01:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ART_MUSICA_USUARIO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUserRSS] [varchar](100) NULL,
	[TipoRSS] [nchar](20) NULL,
	[Email] [varchar](50) NOT NULL,
	[Identificacion] [varchar](50) NULL,
	[CodTipoDocumento] [varchar](50) NULL,
	[PrimerNombre] [varchar](50) NULL,
	[SegundoNombre] [varchar](50) NULL,
	[PrimerApellido] [varchar](50) NULL,
	[CodPais] [varchar](50) NULL,
	[CodDpto] [varchar](50) NULL,
	[CodMunicipio] [varchar](50) NULL,
	[Sexo] [nchar](10) NULL,
	[esUsuarioInterno] [bit] NULL,
	[esActivo] [bit] NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaModificacion] [datetime] NULL,
	[Imagen] [varchar](300) NULL,
	[Contraseña] [varchar](50) NULL,
	[ImagenUsuario] [image] NULL,
	[FechaNacimiento] [datetime] NULL,
	[SegundoApellido] [varchar](50) NULL,
 CONSTRAINT [PK_ART_USUARIO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ART_MUSICA_USUARIO_ROL]    Script Date: 21/12/2015 3:01:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ART_MUSICA_USUARIO_ROL](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_UsuarioRol] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ART_MUSICA_RECURSO] ON 

INSERT [dbo].[ART_MUSICA_RECURSO] ([Id], [Codigo], [IdPadre], [Estado], [Descripcion], [Ruta], [Tipo], [Nombre], [Titulo], [estilo]) VALUES (2, N'MN_ESCUELA                    ', 0, 1, N'Escualas', N'#', N'MENU', N'Escuelas Música', N'Escuelas Música', N'fa fa-book')
INSERT [dbo].[ART_MUSICA_RECURSO] ([Id], [Codigo], [IdPadre], [Estado], [Descripcion], [Ruta], [Tipo], [Nombre], [Titulo], [estilo]) VALUES (3, N'PAG_ESC_CONSULTA              ', 2, 1, N'Escuelas', N'EscuelasMusica/Consulta', N'PAG', N'Escuelas Música', N'Escuelas Música', N'fa fa-book')
INSERT [dbo].[ART_MUSICA_RECURSO] ([Id], [Codigo], [IdPadre], [Estado], [Descripcion], [Ruta], [Tipo], [Nombre], [Titulo], [estilo]) VALUES (6, N'MENU_FUNCIONAL                ', 0, 1, N'Menu Administrador', N'#', N'MENU', N'Seguridad', N'Seguridad', N'fa fa-book')
SET IDENTITY_INSERT [dbo].[ART_MUSICA_RECURSO] OFF
SET IDENTITY_INSERT [dbo].[ART_MUSICA_ROL] ON 

INSERT [dbo].[ART_MUSICA_ROL] ([Id], [Codigo], [Nombre], [FechaCreacion]) VALUES (1, N'ADMIN', N'AdministradorFuncional', CAST(0x0000A53700D027FE AS DateTime))
INSERT [dbo].[ART_MUSICA_ROL] ([Id], [Codigo], [Nombre], [FechaCreacion]) VALUES (2, N'COOR', N'Coordinador', CAST(0x0000A53700D04910 AS DateTime))
INSERT [dbo].[ART_MUSICA_ROL] ([Id], [Codigo], [Nombre], [FechaCreacion]) VALUES (3, N'STANDARD', N'Estandar', CAST(0x0000A53700D07CCC AS DateTime))
SET IDENTITY_INSERT [dbo].[ART_MUSICA_ROL] OFF
SET IDENTITY_INSERT [dbo].[ART_MUSICA_ROL_RECURSO] ON 

INSERT [dbo].[ART_MUSICA_ROL_RECURSO] ([Id], [RolId], [RecId], [esActivo], [Fecha], [NumMenu], [Orden]) VALUES (1023, 5, 2, NULL, CAST(0x0000A54600F3B569 AS DateTime), 0, NULL)
INSERT [dbo].[ART_MUSICA_ROL_RECURSO] ([Id], [RolId], [RecId], [esActivo], [Fecha], [NumMenu], [Orden]) VALUES (1024, 5, 3, NULL, CAST(0x0000A54600F3B56E AS DateTime), 0, NULL)
INSERT [dbo].[ART_MUSICA_ROL_RECURSO] ([Id], [RolId], [RecId], [esActivo], [Fecha], [NumMenu], [Orden]) VALUES (1025, 5, 15, NULL, CAST(0x0000A54600F3B56E AS DateTime), 0, NULL)
SET IDENTITY_INSERT [dbo].[ART_MUSICA_ROL_RECURSO] OFF
SET IDENTITY_INSERT [dbo].[ART_MUSICA_USUARIO] ON 


SET IDENTITY_INSERT [dbo].[ART_MUSICA_USUARIO] OFF
SET IDENTITY_INSERT [dbo].[ART_MUSICA_USUARIO_ROL] ON 

INSERT [dbo].[ART_MUSICA_USUARIO_ROL] ([Id], [RoleId], [UserId]) VALUES (3, 1, 2)
INSERT [dbo].[ART_MUSICA_USUARIO_ROL] ([Id], [RoleId], [UserId]) VALUES (8, 5, 10)
SET IDENTITY_INSERT [dbo].[ART_MUSICA_USUARIO_ROL] OFF
ALTER TABLE [dbo].[ART_MUSICA_ROL_RECURSO]  WITH CHECK ADD  CONSTRAINT [FK_ART_MUSICA_ROL_RECURSO_ART_MUSICA_RECURSO] FOREIGN KEY([RecId])
REFERENCES [dbo].[ART_MUSICA_RECURSO] ([Id])
GO
ALTER TABLE [dbo].[ART_MUSICA_ROL_RECURSO] CHECK CONSTRAINT [FK_ART_MUSICA_ROL_RECURSO_ART_MUSICA_RECURSO]
GO
ALTER TABLE [dbo].[ART_MUSICA_ROL_RECURSO]  WITH CHECK ADD  CONSTRAINT [FK_ART_MUSICA_ROL_RECURSO_ART_MUSICA_ROL] FOREIGN KEY([RolId])
REFERENCES [dbo].[ART_MUSICA_ROL] ([Id])
GO
ALTER TABLE [dbo].[ART_MUSICA_ROL_RECURSO] CHECK CONSTRAINT [FK_ART_MUSICA_ROL_RECURSO_ART_MUSICA_ROL]
GO
ALTER TABLE [dbo].[ART_MUSICA_USUARIO_ROL]  WITH CHECK ADD  CONSTRAINT [FK_ART_MUSICA_USUARIO_ROL_ART_MUSICA_ROL] FOREIGN KEY([RoleId])
REFERENCES [dbo].[ART_MUSICA_ROL] ([Id])
GO
ALTER TABLE [dbo].[ART_MUSICA_USUARIO_ROL] CHECK CONSTRAINT [FK_ART_MUSICA_USUARIO_ROL_ART_MUSICA_ROL]
GO
ALTER TABLE [dbo].[ART_MUSICA_USUARIO_ROL]  WITH CHECK ADD  CONSTRAINT [FK_ART_MUSICA_USUARIO_ROL_ART_MUSICA_USUARIO] FOREIGN KEY([UserId])
REFERENCES [dbo].[ART_MUSICA_USUARIO] ([Id])
GO
ALTER TABLE [dbo].[ART_MUSICA_USUARIO_ROL] CHECK CONSTRAINT [FK_ART_MUSICA_USUARIO_ROL_ART_MUSICA_USUARIO]
GO
