<ul class="paso-tabs" role="tablist">
    <li class="active" data-step="1">
        <a href="#step1" data-toggle="tab" aria-controls="step1" title="Datos Básicos">
            <span class="paso-tab-icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <div class="paso-tab-label"><span>Datos Básicos</span></div>
    </li>
    <li data-step="2">
        <a href="#step2" data-toggle="tab" aria-controls="step2" title="Beneficiarios">
            <span class="paso-tab-icon">
                <i class="fas fa-users"></i>
            </span>
        </a>
        <div class="paso-tab-label"><span>Beneficiarios</span></div>
    </li>
    <li data-step="3">
        <a href="#step3" data-toggle="tab" aria-controls="step3" title="Organización">
            <span class="paso-tab-icon">
                <i class="fas fa-building"></i>
            </span>
        </a>
        <div class="paso-tab-label"><span>Organización</span></div>
    </li>
    <li data-step="4">
        <a href="#step4" data-toggle="tab" aria-controls="step4" title="Formación">
            <span class="paso-tab-icon">
                <i class="fas fa-chalkboard-teacher"></i>
            </span>
        </a>
        <div class="paso-tab-label"><span>Formación</span></div>
    </li>
    <li data-step="5">
        <a href="#step5" data-toggle="tab" aria-controls="step5" title="Infraestructura y Dotación">
            <span class="paso-tab-icon">
                <i class="fas fa-school"></i>
            </span>
        </a>
        <div class="paso-tab-label"><span>Infraestructura y Dotación</span></div>
    </li>
    <li data-step="6">
        <a href="#step6" data-toggle="tab" aria-controls="step6" title="Giras y Productos">
            <span class="paso-tab-icon">
                <i class="fas fa-compact-disc"></i>
            </span>
        </a>
        <div class="paso-tab-label"><span>Giras y Productos</span></div>
    </li>
    <li data-step="7">
        <a href="#step7" data-toggle="tab" aria-controls="step7" title="Asesoría Técnica">
            <span class="paso-tab-icon">
                <i class="fas fa-tools"></i>
            </span>
        </a>
        <div class="paso-tab-label"><span>Asesoría Técnica</span></div>
    </li>
</ul>



