<div class="modal animated fadeIn" id="modalEstado" tabindex="-1" role="dialog" aria-labelledby="smallModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="smallModalHead">Escuelas de Música Registradas en el municipio @ViewBag.NombreMunicipio</h4>
                <p class="text-info"><i class="fa-question"></i> Si la escuela que va a registrar aparece en el listado siguiente y usted no es el usuario que administra la información, por favor solicite el acceso dando clic en Solicitar, de lo contrario de clic en actualizar. </p>
            </div>

            <div class="form-group">
           
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>

</div>
