<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <div class="page-content">


        <!-- revolution slider -->
        <div class="banner-container">
            <WebPartPages:WebPartZone id="g_EF54679ABFE746C0A3D4D56758D8DAC2" runat="server" title="Banners home"><zonetemplate></zonetemplate></WebPartPages:WebPartZone>
        </div>
        <!-- ./revolution slider -->
        <!-- page content wrapper -->
        <div class="page-content-wrap bg-light">
            <!-- ./page content wrapper -->
            <!-- page content wrapper -->
            <div class="page-content-wrap bg-img-1">
                <!-- page content holder -->
                <div class="page-content-holder">
                    <div class="row">
                        <div class="col-md-4 this-animate" data-animate="fadeInLeft">

                        </div>
                        <div class="col-md-12 this-animate text-center" data-animate="fadeInRight">
                            <div class="block-heading block-heading-centralized">

                                <WebPartPages:WebPartZone id="g_61588C7DD74A4754A63ADDC043E94B4C" runat="server" title="Mensaje bienvenida"><zonetemplate></zonetemplate></WebPartPages:WebPartZone>

                            </div>
                        </div>
                    </div>
                    <!-- ./page content holder -->
                </div>
                <!-- ./page content wrapper -->
                <!-- page content wrapper -->
                <div class="page-content-wrap dark-elements">

                    <!-- page content holder -->
                    <div class="page-content-holder">

                        <div class="row">

                            <div class="col-md-4">
                                <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInLeft">
                                    <div class="text-column-icon">
                                        <img src="../../assets/mic_01.png">
                                    </div>
                                    <h4>Inscriba su concierto</h4>
                                    <div class="text-column-info">
                                        Si eres organizador de concierto Celebra la Música registralo



                                        aquí
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInUp">
                                    <div class="text-column-icon">
                                        <img src="../../assets/audifono_01.png" />
                                    </div>
                                    <h4>Mapas</h4>
                                    <div class="text-column-info">
                                        Aqui encontraras el resultado de todas las convocatorias en el



                                        marco de Celebra la Música
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInRight">
                                    <div class="text-column-icon">
                                        <img src="../../assets/notas_01.png">
                                    </div>
                                    <h4>Banco de Partituras</h4>
                                    <div class="text-column-info">
                                        Aquí podras descargar un variado repertorio, score y partes de



                                        obras para orquesta, coro, música tradicional

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row" data-animate="fadeInLeft">

                        </div>

                    </div>
                    <!-- ./page content holder -->
                </div>



                <!-- revolution slider -->
                <!-- ./revolution slider -->
                <!-- page content wrapper -->
                <!-- page content wrapper -->
                <div class="page-content-wrap bg-light">



                    <!-- page content holder -->
                    <div class="container-fluid">

                        <div class="row videos_bk">
                            <div class="col-md-12 reproductor this-animate" data-animate="fadeInLeft bounce">



                                <div class="usuarios col-md-15 col-sm-3">
                                    <div class="iconos_usuarios">
                                        <a href="../../assets/pdf/infografia_visualizacion_version_formal.pdf"><img src="img/iconos/ico_videos.png" width="62" height="53" alt="CAMPO ORGANIZACIONAL DE LA MÚSICA" title="CAMPO ORGANIZACIONAL DE LA MÚSICA"></a>
                                    </div>
                                    <p class="titulo_usuarios">VIDEOS</p>

                                </div>

                                <div class="container">
                                    <div class="col-md-10">
                                        <div id="myCarousel" class="carousel slide">
                                            <ol class="carousel-indicators">
                                                <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                                                <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                                                <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                                            </ol>
                                            <div class="carousel-inner">
                                                <div class="item active">
                                                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/WZ-TzokU6Xw" frameborder="0" allowfullscreen=""></iframe>
                                                </div>
                                                <div class="item">
                                                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/NXxS0-3Rpfc" frameborder="0" allowfullscreen=""></iframe>
                                                </div>
                                                <div class="item">
                                                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/VQg_8Rlyr9Q" frameborder="0" allowfullscreen=""></iframe>
                                                </div>
                                            </div>
                                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                                ‹
                                            </a>
                                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                                ›
                                            </a>
                                        </div>
                                    </div>
                                </div>







                            </div>
                        </div>



                    </div>



                    <!-- ./page content holder -->
                    <div class="row">
                        <img src="../../img/nuestras-redes.png" class="img-responsive" />
                    </div>

                    <div class="page-content-wrap bg-light">
                        <div class="page-content-holder padding-v-20">
                            <div class="col-md-6 text-center">
                                <div class="fb-page" data-href="https://www.facebook.com/plandemusica/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">
                                    <div class="fb-xfbml-parse-ignore">
                                        <blockquote cite="https://www.facebook.com/plandemusica/">
                                            <a href="https://www.facebook.com/plandemusica/">
                                                Plan Nacional de Música para la Convivencia
                                            </a>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 text-center">
                                <div class="tab-pane">
                                    <a class="twitter-timeline" data-dnt="true" width="350" height="500" href="https://twitter.com/Plandemusica" data-widget-id="725719592610369536">
                                        Tweets por el Plandemusica.
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./page content wrapper -->
                    <!-- page content wrapper -->

                    <div class="page-content-wrap bg">
                        <!-- page content holder -->
                        <div class="page-content-holder">
                            <div class="row">
                                <img src="../../images/bg3.jpg" class="img-responsive" />
                            </div>
                            <div class="row">
                                <div class="col-md-12 this-animate" data-animate="fadeInLeft">
                                    <div class="container">
                                        <!--Comienzo del código para pase de imágenes (Carrusel)-->

                                        <div id="miCarrusel" class="carousel slide">




                                            <div class="carousel-inner">
                                                <!-- Carrusel elementos (items) -->

                                                <div class="item active">
                                                    <div class="embed-container" style="height:160px;">
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <div class="embed-container"><a class="example-image-link" href="img/galeria/foto_006.jpg" data-lightbox="example-set" data-title="Aguazul - Casanare"><img src="img/galeria/foto_006.jpg" class="img-responsive"></a></div>
                                                                <p style="color:#c54825;">Aguazul - Casanare</p>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="embed-container"><a class="example-image-link" href="img/galeria/foto_007.jpg" data-lightbox="example-set" data-title="Bochalema - Norte de Santander"><img src="img/galeria/foto_007.jpg" class="img-responsive"></a></div>
                                                                <p style="color:#c54825;">Bochalema - Norte de Santander</p>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="embed-container"><a class="example-image-link" href="img/galeria/foto_008.jpg" data-lightbox="example-set" data-title="Bojacá - Cundinamarca"><img src="img/galeria/foto_008.jpg" class="img-responsive"></a></div>
                                                                <p style="color:#c54825;">Bojacá - Cundinamarca</p>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="embed-container"><a class="example-image-link" href="img/galeria/foto_009.jpg" data-lightbox="example-set" data-title="Concordia - Antioquia"><img src="img/galeria/foto_009.jpg" class="img-responsive"></a></div>
                                                                <p style="color:#c54825;">Concordia - Antioquia</p>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="embed-container"><a class="example-image-link" href="img/galeria/foto_010.jpg" data-lightbox="example-set" data-title="El Doncello - Caquetá"><img src="img/galeria/foto_010.jpg" class="img-responsive"></a></div>
                                                                <p style="color:#c54825;">El Doncello - Caquetá</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <div class="embed-container">
                                                        <div class="row">
                                                            <div class="col-md-2 this-animate" data-animate="fadeInLeft">
                                                                <div class="embed-container"><a class="example-image-link" href="img/galeria/foto_001.jpg" data-lightbox="example-set" data-title="Nocaima - Cundinamarca"><img src="img/galeria/foto_001.jpg" class="img-responsive"></a></div>
                                                                <p style="color:#c54825;">Nocaima - Cundinamarca</p>
                                                            </div>
                                                            <div class="col-md-2 this-animate" data-animate="fadeInLeft">
                                                                <div class="embed-container"><a class="example-image-link" href="img/galeria/foto_002.jpg" data-lightbox="example-set" data-title="Obando - Valle del Cauca"><img src="img/galeria/foto_001.jpg" class="img-responsive"></a></div>
                                                                <p style="color:#c54825;">Obando - Valle del Cauca</p>
                                                            </div>
                                                            <div class="col-md-2 this-animate" data-animate="fadeInLeft">
                                                                <div class="embed-container"><a class="example-image-link" href="img/galeria/foto_003.jpg" data-lightbox="example-set" data-title="Ocaña - Norte de Santander"><img src="img/galeria/foto_003.jpg" class="img-responsive"></a></div>
                                                                <p style="color:#c54825;">Ocaña - Norte de Santander</p>
                                                            </div>
                                                            <div class="col-md-2 this-animate" data-animate="fadeInLeft">
                                                                <div class="embed-container"><a class="example-image-link" href="img/galeria/foto_004.jpg" data-lightbox="example-set" data-title="Puerto Boyacá - Boyacá"><img src="img/galeria/foto_004.jpg" class="img-responsive"></a></div>
                                                                <p style="color:#c54825;">Puerto Boyacá - Boyacá</p>
                                                            </div>
                                                            <div class="col-md-2 this-animate" data-animate="fadeInLeft">
                                                                <div class="embed-container"><a class="example-image-link" href="img/galeria/foto_005.jpg" data-lightbox="example-set" data-title="Puerto Rico - Caquetá"><img src="img/galeria/foto_005.jpg" class="img-responsive"></a></div>
                                                                <p style="color:#c54825;">Puerto Rico - Caquetá</p>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <div class="embed-container">
                                                        <div class="row">
                                                            <div class="col-md-2 this-animate" data-animate="fadeInLeft">
                                                                <div class="embed-container"><a class="example-image-link" href="img/galeria/foto_001.jpg" data-lightbox="example-set" data-title="Nocaima - Cundinamarca"><img src="img/galeria/foto_001.jpg" class="img-responsive"></a></div>
                                                                <p style="color:#c54825;">Nocaima - Cundinamarca</p>
                                                            </div>
                                                            <div class="col-md-2 this-animate" data-animate="fadeInLeft">
                                                                <div class="embed-container"><a class="example-image-link" href="img/galeria/foto_002.jpg" data-lightbox="example-set" data-title="Obando - Valle del Cauca"><img src="img/galeria/foto_001.jpg" class="img-responsive"></a></div>
                                                                <p style="color:#c54825;">Obando - Valle del Cauca</p>
                                                            </div>
                                                            <div class="col-md-2 this-animate" data-animate="fadeInLeft">
                                                                <div class="embed-container"><a class="example-image-link" href="img/galeria/foto_003.jpg" data-lightbox="example-set" data-title="Ocaña - Norte de Santander"><img src="img/galeria/foto_003.jpg" class="img-responsive"></a></div>
                                                                <p style="color:#c54825;">Ocaña - Norte de Santander</p>
                                                            </div>
                                                            <div class="col-md-2 this-animate" data-animate="fadeInLeft">
                                                                <div class="embed-container"><a class="example-image-link" href="img/galeria/foto_004.jpg" data-lightbox="example-set" data-title="Puerto Boyacá - Boyacá"><img src="img/galeria/foto_004.jpg" class="img-responsive"></a></div>
                                                                <p style="color:#c54825;">Puerto Boyacá - Boyacá</p>
                                                            </div>
                                                            <div class="col-md-2 this-animate" data-animate="fadeInLeft">
                                                                <div class="embed-container"><a class="example-image-link" href="img/galeria/foto_005.jpg" data-lightbox="example-set" data-title="Puerto Rico - Caquetá"><img src="img/galeria/foto_005.jpg" class="img-responsive"></a></div>
                                                                <p style="color:#c54825;">Puerto Rico - Caquetá</p>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <div class="embed-container">
                                                        <div class="row">
                                                            <div class="col-md-2 this-animate" data-animate="fadeInLeft">
                                                                <div class="embed-container"><a class="example-image-link" href="img/galeria/foto_001.jpg" data-lightbox="example-set" data-title="Nocaima - Cundinamarca"><img src="img/galeria/foto_001.jpg" class="img-responsive"></a></div>
                                                                <p style="color:#c54825;">Nocaima - Cundinamarca</p>
                                                            </div>
                                                            <div class="col-md-2 this-animate" data-animate="fadeInLeft">
                                                                <div class="embed-container"><a class="example-image-link" href="img/galeria/foto_002.jpg" data-lightbox="example-set" data-title="Obando - Valle del Cauca"><img src="img/galeria/foto_001.jpg" class="img-responsive"></a></div>
                                                                <p style="color:#c54825;">Obando - Valle del Cauca</p>
                                                            </div>
                                                            <div class="col-md-2 this-animate" data-animate="fadeInLeft">
                                                                <div class="embed-container"><a class="example-image-link" href="img/galeria/foto_003.jpg" data-lightbox="example-set" data-title="Ocaña - Norte de Santander"><img src="img/galeria/foto_003.jpg" class="img-responsive"></a></div>
                                                                <p style="color:#c54825;">Ocaña - Norte de Santander</p>
                                                            </div>
                                                            <div class="col-md-2 this-animate" data-animate="fadeInLeft">
                                                                <div class="embed-container"><a class="example-image-link" href="img/galeria/foto_004.jpg" data-lightbox="example-set" data-title="Puerto Boyacá - Boyacá"><img src="img/galeria/foto_004.jpg" class="img-responsive"></a></div>
                                                                <p style="color:#c54825;">Puerto Boyacá - Boyacá</p>
                                                            </div>
                                                            <div class="col-md-2 this-animate" data-animate="fadeInLeft">
                                                                <div class="embed-container"><a class="example-image-link" href="img/galeria/foto_005.jpg" data-lightbox="example-set" data-title="Puerto Rico - Caquetá"><img src="img/galeria/foto_005.jpg" class="img-responsive"></a></div>
                                                                <p style="color:#c54825;">Puerto Rico - Caquetá</p>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="embed-container">
                                                        <div class="row">
                                                            <div class="col-md-2 this-animate" data-animate="fadeInLeft">
                                                                <div class="embed-container"><a class="example-image-link" href="img/galeria/foto_005.jpg" data-lightbox="example-set" data-title="Puerto Rico - Caquetá"><img src="img/galeria/foto_005.jpg" class="img-responsive"></a></div>
                                                                <p style="color:#c54825;">Puerto Rico - Caquetá</p>
                                                            </div>
                                                            <div class="col-md-2 this-animate" data-animate="fadeInLeft">
                                                                <div class="embed-container"><a class="example-image-link" href="img/galeria/foto_006.jpg" data-lightbox="example-set" data-title="Puerto Rico - Caquetá"><img src="img/galeria/foto_006.jpg" class="img-responsive"></a></div>
                                                                <p style="color:#c54825;">Puerto Rico - Caquetá</p>
                                                            </div>
                                                            <div class="col-md-2 this-animate" data-animate="fadeInLeft">
                                                                <div class="embed-container"><a class="example-image-link" href="img/galeria/foto_007.jpg" data-lightbox="example-set" data-title="Puerto Rico - Caquetá"><img src="img/galeria/foto_007.jpg" class="img-responsive"></a></div>
                                                                <p style="color:#c54825;">Puerto Rico - Caquetá</p>
                                                            </div>
                                                            <div class="col-md-2 this-animate" data-animate="fadeInLeft">
                                                                <div class="embed-container"><a class="example-image-link" href="img/galeria/foto_008.jpg" data-lightbox="example-set" data-title="Puerto Rico - Caquetá"><img src="img/galeria/foto_008.jpg" class="img-responsive"></a></div>
                                                                <p style="color:#c54825;">Puerto Rico - Caquetá</p>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div><!-- cierre carousel-inner-->
                                            <!-- Carrusel navegación -->


                                        </div>
                                        <a class="left carousel-control" href="#miCarrusel" data-slide="prev" style="background-image:none !important; top:25%; left:-7%; color:#30367D;">
                                            <i class="fa fa-angle-left" aria-hidden="true" style="font-size:2em;"></i>
                                        </a>
                                        <a class="right carousel-control" href="#miCarrusel" data-slide="next" style="background-image:none !important; top:25%; left:90%; color:#30367D;">
                                            <i class="fa fa-angle-right" aria-hidden="true" style="font-size:2em;"></i>
                                        </a><!-- cierre miCarrusel-->
                                        <!--Final del código para pase de imágenes (Carrusel)-->
                                    </div>
                                </div>
                                <div class="col-md-12 this-animate" data-animate="fadeInLeft" align="center">

                                    <div class="fb-comments" data-href="https://developers.facebook.com/http://danzaviva.co/experiencias.html" data-numposts="5"></div>
                                </div>

                            </div>
                            <!-- ./page content holder -->
                        </div>
                    </div>

                    <div class="container">

                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="carousel slide media-carousel" id="media">
                                    <div class="carousel-inner">
                                        <div class="item  active">
                                            <div class="row">



                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page-content-wrap bg-light">
                        <div class="divider"></div>
                        <!-- page content holder -->
                        <div class="page-content-holder padding-v-20">

                            <div class="col-md-2 text-center">
                                <a href="http://www.sayco.org/" alt="Sayco" title="Sayco"><img src="../../img/logos/logo1.png" class="img-responsive" /></a><br>

                            </div>
                            <div class="col-md-2 text-center">
                                <a href="http://www.acinpro.org.co" target="_blank" alt="Acinpro" title="Acinpro"><img src="../../img/logos/logo_2.png" class="img-responsive" /></a><br>

                            </div>
                            <div class="col-md-2 text-center">
                                <a href="http://www.simus.co/" target="_blank" alt="Sistema Municipal de Información Cultural de Bucaramanga" title="Sistema de Información de la Música"><img src="../../img/logos/logo3.png" class="img-responsive" /></a><br>

                            </div>
                            <div class="col-md-2 text-center">
                                <a href="http://www.mincultura.gov.co/Paginas/default.aspx" alt="Mincultura" title="Mincultura"><img src="../../img/logos/logo4.png" target="_blank" class="img-responsive" /></a><br>

                            </div>
                            <div class="col-md-2 text-center">
                                <a href="http://www.mincultura.gov.co/Paginas/default.aspx" alt="Mincultura" title="Mincultura"><img src="../../img/logos/logo5.png" target="_blank" class="img-responsive" /></a><br>

                            </div>
                            <div class="col-md-2 text-center">
                                <a href="http://sinfonica.com.co/" target="_blank" alt="Sinfónica de Colombia" title="Sinfónica de Colombia"><img src="../../img/logos/logo6.png" class="img-responsive" /></a><br>

                            </div>
                        </div>
                        <!-- ./page content holder -->
                    </div>
                    <!-- ./page content wrapper -->
                </div>
            </div>
        </div>

        </div>
</body>
</html>



<asp:content contentplaceholderid="PlaceHolderMain" runat="server">
    <div class="page-content">

        <!-- revolution slider -->
        <div class="banner-container">
            <div id="wrapper">
                <ul class="rslides" id="slider1">
                    <li><img src="../../Bannerinterno/caja.png" alt=""></li>

                </ul>
            </div>
        </div>
        <!-- ./revolution slider -->
        <!-- page content wrapper -->

        <div class="page-content-wrap bg-light">
            <!-- ./page content wrapper -->
            <!-- page content wrapper -->
            <div class="page-content-wrap bg-img-3">
                <!-- page content holder -->
                <!-- ./page content wrapper -->
                <!-- page content wrapper -->
                <div class="page-content-wrap dark-elements">

                    <!-- page content holder -->
                    <div class="page-content-holder">
                        <div class="space1">  </div>
                        <div class="space1">  </div>

                        <div class="row" style="padding-top:60px;">
                            <div class="col-md-4">
                                <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInRight">


                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInUp">
                                    <div class="text-column-icon">
                                        <img src="../../assets/piezas.png">
                                    </div>
                                    <h4>Comunicaciones e imágen</h4>
                                    <div class="text-column-info">
                                        Descargue aqui las piezas



                                        de
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        comunicación e imagen
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInRight">
                                    <div class="text-column-icon">
                                        <img src="../../assets/mic_01.png">
                                    </div>
                                    <h4>
                                        Recomendaciones desarrollo del




                                        concierto
                                    </h4>
                                    <div class="text-column-info">
                                        Recomendaciones desarrollo del




                                        concierto recomendaciones




                                        desarrollo del concierto
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInUp">
                                    <div class="text-column-icon">
                                        <img src="../../assets/docs.png">
                                    </div>

                                    <div class="text-column-info">
                                        Autorizaciones de Sayco y




                                        Acinpro
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInRight">
                                    <div class="text-column-icon">
                                        <img src="../../assets/pulep.png">
                                    </div>

                                    <div class="text-column-info">
                                        Portal Único de la Ley de




                                        Espéctaculos
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        Públicos de las Artes Escénicas
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- ./page content holder -->
                </div>
            </div>
        </div>
    </div>
</asp:content>
<asp:content contentplaceholderid="PlaceHolderMain" runat="server">
    <div class="page-content">

        <!-- revolution slider -->
        <div class="banner-container">
            <div id="wrapper">
                <ul class="rslides" id="slider1">
                    <li><img src="../../Bannerinterno/caja.png" alt=""></li>

                </ul>
            </div>
        </div>
        <!-- ./revolution slider -->
        <!-- page content wrapper -->

        <div class="page-content-wrap bg-light">
            <!-- ./page content wrapper -->
            <!-- page content wrapper -->
            <div class="page-content-wrap bg-img-3">
                <!-- page content holder -->
                <!-- ./page content wrapper -->
                <!-- page content wrapper -->
                <div class="page-content-wrap dark-elements">

                    <!-- page content holder -->
                    <div class="page-content-holder">
                        <div class="space1">  </div>
                        <div class="space1">  </div>

                        <div class="row" style="padding-top:60px;">
                            <div class="col-md-4">
                                <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInRight">


                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInUp">
                                    <div class="text-column-icon">
                                        <img src="../../assets/piezas.png">
                                    </div>
                                    <h4>Comunicaciones e imágen</h4>
                                    <div class="text-column-info">
                                        Descargue aqui las piezas



                                        de
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        comunicación e imagen
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInRight">
                                    <div class="text-column-icon">
                                        <img src="../../assets/mic_01.png">
                                    </div>
                                    <h4>
                                        Recomendaciones desarrollo del




                                        concierto
                                    </h4>
                                    <div class="text-column-info">
                                        Recomendaciones desarrollo del




                                        concierto recomendaciones




                                        desarrollo del concierto
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInUp">
                                    <div class="text-column-icon">
                                        <img src="../../assets/docs.png">
                                    </div>

                                    <div class="text-column-info">
                                        Autorizaciones de Sayco y




                                        Acinpro
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInRight">
                                    <div class="text-column-icon">
                                        <img src="../../assets/pulep.png">
                                    </div>

                                    <div class="text-column-info">
                                        Portal Único de la Ley de




                                        Espéctaculos
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        Públicos de las Artes Escénicas
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- ./page content holder -->
                </div>
            </div>
        </div>
    </div>
</asp:content>
