<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
@{
    ViewBag.Title = "Política de Privacidad y Condiciones de Uso";
    Layout = null;
    //Layout = null;
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Bienvenido a Celebra la Música</title>
    @Styles.Render("~/Content/css")


    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        body, td, th {
            font-family: Arial, Helvetica, sans-serif;
            color: #444;
            text-align: justify;
        }

        .contenido {
            font-size: 14px;
            line-height: 18px;
            color: #666;
        }

        body {
            background-color: #eee;
        }

        .pie {
            font-size: 10px;
            font-weight: normal;
            color: #666;
        }

        .subtitulos {
            font-size: 12px;
            font-weight: bold;
            color: #666;
        }
    </style>
</head>

<body>
    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td bgcolor="#FFFFFF">
                <table width="550" border="0" align="center" cellpadding="0" cellspacing="5">
                    <tr>
                        <td colspan="3" align="center"><br /><img src="~/img/terminos.png" width="550" height="100" /></td>
                    </tr>
                    <tr>
                        <td colspan="3"><hr /></td>
                    </tr>
                    <tr class="pie">
                        <td width="45%" align="left" valign="top">
                            <p>
                            </p>
                            <p style="font-size:13px">
                                Autorizo al Ministerio de Cultura para dar tratamiento de mis datos personales aquí registrados, conforme a la Ley 1581 de 2012 y la política de tratamiento de datos personales, con la finalidad de efectuar las funciones propias y procedentes de la Entidad.
                                Consulte nuestra política de tratamiento en la página <a href="http://www.mincultura.gov.co">http://www.mincultura.gov.co</a>.

                            </p>
                            <p>
                                Es interés del Ministerio de Cultura salvaguardar la privacidad de la información personal del usuario y/o ciudadano acorde a lo establecido en la Ley 1581 de 2012 y el Decreto 1377 de 2013, por lo cual establece:
                                El Usuario y/o Ciudadano reconoce que el ingreso de información personal, lo realiza de manera voluntaria y ante la solicitud de requerimientos para la prestación u ofrecimiento de servicios o productos específicos por el Ministerio de Cultura.
                                El Usuario y/o Ciudadano acepta que a través del registro en el sitio web y/o correo electrónico, el Ministerio de Cultura recoge datos personales.
                                Esta autorización permitirá al Ministerio de Cultura, recolectar, transferir, almacenar, usar, circular, suprimir, compartir, actualizar y transmitir, de acuerdo con el procedimiento para el tratamiento de los datos personales en procura de cumplir con las siguientes finalidades:
                            </p>
                            <p>
                                1. Los datos personales recibirán tratamiento para lograr una eficiente comunicación relacionada con nuestros planes, programas, proyectos, contenidos institucionales, notificaciones, información del estado de su trámite y demás información relativa al portafolio de servicios de la entidad, a través de correo electrónico, llamadas telefónicas, correo certificado.
                            </p>
                            <p>
                                2. Los datos personales serán utilizados para adelantar estudios y análisis estadísticos.
                            </p>
                            <p>
                                3. Los datos personales serán la vía de contacto para que el Ministerio de Cultura evalué la calidad del servicio y aplicación de encuestas de satisfacción.

                            </p>
                            <p>
                                4. Intercambiar la información personal con autoridades gubernamentales, fiscales, judiciales o administrativas y organismos de control para cumplir con requerimientos que éstas soliciten.
                            </p>
                            <p>
                                5. A su vez se solicita a los titulares de los datos de los servicios ofrecidos por el Ministerio de Cultura de manera expresa, libre y voluntaria autorice el tratamiento de datos personales sensibles tales como el origen racial o étnico y la identidad sexual, al tenor de lo dispuesto en el artículo 6 de la ley 1581 de 2012.

                            </p>
                            <p>
                                Declaración de Aceptación de los Términos y Condiciones de Uso del Portal ¡Celebra la Música!

                            </p>
                            <p>
                                En mi calidad de titular de todos los derechos patrimoniales de autor, de conformidad con las disposiciones contenidas en el Convenio de Berna, la Decisión Andina 351 de 1993, la Ley 23 de 1982, ley 44 de 1993 y demás concordantes, AUTORIZO al Ministerio de Cultura, para utilizar las fotografías cargadas con ocasión de mi registro, y para los fines de divulgación del portal ¡Celebra la Música!
                                Con el registro garantizo que soy el titular de los derechos sobre las fotografías y demás materiales protegidos por derecho de autor cargados en el portal, que los adquirí y aseguré de conformidad con las disposiciones jurídicas aplicables, que no existen restricciones o derechos conferidos a terceros que me impidan el goce y ejercicio de cualquier forma y a cualquier título. En razón de lo anterior, me obligo a mantener al Ministerio de Cultura indemne respecto de cualquier reclamación, demanda, o requerimiento de indemnización, por parte de terceros que aleguen tener derecho total o parcial sobre los materiales cargados, tanto desde su contenido moral como patrimonial.


                            </p>
                           

                        </td>
                    </tr>
                  
                    <tr>
                        <td height="0" colspan="3" align="center"><p><img src="~/img/logo_gobierno.png" width="279" height="35" /></p></td>
                    </tr>



                </table>



            </td>



        </tr>
        <tr>
            <td></td>

        </tr>
    </table>
    <br />


</body>
</html>

